<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="<%= STATIC %>css/default.css?v=<%=VERSION%>">
    <link rel="stylesheet" href="<%= STATIC %>css/minisite/weixin.css?v=<%=VERSION%>">
    <title>微信服务号-微信小程序-外贸邦</title>
</head>
<body>
<%- include('../global/head.ejs') %>

<div class="weixin">
    <div class="weixin-l">
        <div class="weixin-title">
            <h1><img src="https://static.52wmb.com/wmb_img/minisite/weixin_logo.png"/>关注外贸邦微信公众号，随时随地开发外贸客户，查贸易数据...</h1>
            <p>找采购商<font>/</font>找供应商<font>/</font>开发攻略<font>/</font>外贸干货<font>/</font>黄钻试用<font>/</font>操作手册<font>/</font>在线客服</p>
        </div>
        <div class="weixin-pic">
            <span><img src="https://static.52wmb.com/wmb_img/minisite/weixin_erweima.png"><font>微信服务号</font></span>
            <span><img src="https://static.52wmb.com/wmb_new/images/xcx_ewm.png"><font>微信小程序</font></span>
        </div>
    </div>   
    <div class="weixin-r"><img src="https://static.52wmb.com/wmb_img/minisite/weixin_iphone.png"/></div>  
    <br class="clear"/>
</div>

<%- include('../global/foot.ejs') %>
</body>
</html>