<!-- 左侧公共tab -->
    <% let tab_active=results.nav %>
        <div class="left-nav">
            <ul>
                <li class="<%=  tab_active=='index'?'active':'' %>">
                    <a href="/">
                        <i class="home"></i>
                        <span>推荐的</span>
                    </a>
                </li>
                <li class="<%=  tab_active=='members'?'active':'' %>">
                    <a href="/members">
                        <i class="member"></i>
                        <span>采供真人</span>
                    </a>
                </li>
                <li class="<%=  tab_active=='postings'?'active':'' %>">
                    <a href="/postings">
                        <i class="post"></i>
                        <span>供求帖</span>
                    </a>
                </li>
                <span class="line"></span>
                <li class="<%=  tab_active=='me'?'active':'' %>">
                    <a href="/me">
                        <i class="me"></i>
                        <span>我的主页</span>
                    </a>
                </li>
                <li class="<%=  tab_active==''?'active':'' %>">
                    <a href="">
                        <i class="related"></i>
                        <span>与我有关</span>
                    </a>
                </li>
                <span class="line"></span>
                <li class="<%=  tab_active==''?'active':'' %>">
                    <a href="">
                        <i class="message"></i>
                        <span>私信对话</span>
                    </a>
                </li>
                <li class="<%=  tab_active==''?'active':'' %>">
                    <a href="">
                        <i class="news"></i>
                        <span>消息</span>
                    </a>
                </li>
                <a href="javascript:void(0);"><span>发布供求</span></a>
            </ul>
        </div>