<% let data_list= results.users_recommend_list || [] %>
<% let line_right_center_title=results.line_right_center_title %>
<div class="line-right">
    <!-- 粘性定位用 只能用在子级--> 
    <div class="right-box">
    <%- include('../global/line_index_top.ejs') %>
    <div class="line-index-right <%= results.nav=='members'?'me-index-right':'index-right' %>">
        <h2><%= line_right_center_title %></h2>
        <ul>
            <% data_list.forEach(function(item,index){ %>
                <li>
                    <!-- 发现人 -->
                    <% if(results.nav=='members'){ %>
                        <img class="members-img" src="<%=IMAGES_PATH%><%= picture_format(item.avatar) %>" alt="">
                        <div class="members-right">
                            <span class="name"><%= item.name %></span>
                            <span class="members-bottom"><%= item.position %></span>
                        </div>
                    <!-- 首页 -->
                    <% } else { %>
                        <img src="<%=IMAGES_PATH%><%= picture_format(item.images) %>" alt="">
                        <div>
                            <p><%= gq_title_format(item.contents,50) %></p>
                            <span><%= item.name %>发布</span>
                        </div>
                    <% } %>
                </li>
            <% }) %>
        </ul>
        <% if(results.nav!='members'){ %>
            <a href="/postings" class="gq-more">更多供求<font>&gt;</font></a>
        <% } %>
    </div>
    </div>
</div>
