<!-- 公共头部 -->
<% var nav_active = wglobals.nav_active, user=wglobals.user||{}; %>
<nav>
    <div class="nav-left">
        <a href="<%=ROUTE_LANG()%>" class="logo">
            <img src="https://static.52wmb.com/bangline/images/web_imgs/line_logo.png" alt="">
            <span class="logo-sub"><%=translate('share_nav_52wmb')%></span>
        </a>
    </div>
    <div class="nav-center">
        <div class="container">
            <div class="menu-list">
                <a class="menu-item <%=results.nav == 'index'?'active': ''%>" href="<%=ROUTE_INDEX()%>">
                    <i class="i-ico"><svg t="1663580296056" class="icon" viewBox="0 0 1056 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6900" width="23" height="23"><path d="M242.133934 584.793169c0.635491 0 1.247446 0.117684 1.882937 0.117683" fill="#333333" p-id="6901"></path><path d="M1043.017664 432.793077L554.419041 9.638284a39.930033 39.930033 0 0 0-52.027904 0L13.757209 432.816614a39.706435 39.706435 0 0 0 26.019836 69.727512h78.847988v444.643811a76.882673 76.882673 0 0 0 76.788526 76.812063h665.853608a76.882673 76.882673 0 0 0 76.800294-76.812063V502.544126h78.847988a39.718203 39.718203 0 0 0 25.9963-69.751049zM610.612943 969.712572H446.185467V725.354418a22.536403 22.536403 0 0 1 22.512865-22.489329h119.389977a22.536403 22.536403 0 0 1 22.524634 22.489329z m271.849034-521.455875v54.287429h1.365129v444.643811A22.536403 22.536403 0 0 1 861.31424 969.712572H664.865066V725.354418a76.882673 76.882673 0 0 0-76.812062-76.788526H468.698332a76.882673 76.882673 0 0 0-76.800294 76.788526V969.712572H195.472401a22.536403 22.536403 0 0 1-22.524635-22.524635V502.544126h1.36513v-54.263892H78.800915l449.551216-389.344305 449.551217 389.344305z" fill="#333333" p-id="6902"></path></svg></i>
                    <span><%=translate('share_nav_home')%></span>
                </a>
                <a class="menu-item <%=results.nav == 'members'?'active': ''%>" href="<%=ROUTE_LANG()%>/members">
                    <i class="i-ico"><svg t="1663581148460" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3202" width="25" height="23"><path d="M652.8 534.4C723.2 489.6 768 409.6 768 320c0-140.8-115.2-256-256-256S256 179.2 256 320c0 89.6 44.8 169.6 115.2 214.4C192 592 64 761.6 64 960h64c0-211.2 172.8-384 384-384s384 172.8 384 384h64c0-198.4-128-368-307.2-425.6zM512 512c-105.6 0-192-86.4-192-192s86.4-192 192-192 192 86.4 192 192-86.4 192-192 192z" p-id="3203" fill="#333333"></path></svg></i>
                    <span><%=translate('share_nav_traders')%></span>
                </a>
                <a class="menu-item <%=results.nav == 'group'?'active': ''%>" href="<%=ROUTE_LANG()%>/group">
                    <i class="i-ico"><svg t="1663945798830" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="10998" width="23" height="23"><path d="M607.3 585.3c-4.8 0-9.6 2-13 5.8-6.4 7.2-5.8 18.2 1.4 24.7 56.2 50.1 91.2 145.6 91.2 249.4 0 9.7 7.8 17.5 17.5 17.5 9.7 0 17.5-7.8 17.5-17.5 0-113.4-39.4-218.9-102.9-275.4C615.6 586.8 611.4 585.3 607.3 585.3L607.3 585.3zM421.6 585.3c-4.1 0-8.3 1.5-11.6 4.4-63.5 56.5-102.9 162.1-102.9 275.4 0 9.7 7.8 17.5 17.5 17.5 9.7 0 17.5-7.8 17.5-17.5 0-103.7 34.9-199.2 91.2-249.4 7.2-6.4 7.8-17.5 1.4-24.7C431.2 587.3 426.4 585.3 421.6 585.3L421.6 585.3z" p-id="10999"></path><path d="M514.5 166.5c116.8 0 211.8 94 211.8 209.6 0 115.6-95 209.6-211.8 209.6s-211.8-94-211.8-209.6C302.7 260.6 397.7 166.5 514.5 166.5M514.5 131.6c-136.3 0-246.7 109.5-246.7 244.5s110.5 244.5 246.7 244.5 246.7-109.5 246.7-244.5S650.7 131.6 514.5 131.6L514.5 131.6z" p-id="11000"></path><path d="M232.9 323c-0.8 0-1.7 0.1-2.5 0.2-97 13.3-170.1 95.4-170.1 190.9 0 67.1 35 128.3 93.6 163.9 0 0 0.1 0 0.1 0.1 2.3 1.4 4.6 2.7 6.9 4-11 13.1-20.7 28.4-29.2 46 0 0 0 0.1 0 0.1-19.5 40.2-29.7 87.6-29.7 137.2 0 9.7 7.8 17.5 17.5 17.5s17.5-7.8 17.5-17.5c0-44.3 9.1-86.5 26.2-122 10.7-22.1 24.1-40.5 38.8-53.4l21.6-18.9-26.7-10.5c-8.3-3.2-16.3-7.3-24.7-12.3 0 0-0.1 0-0.1-0.1-48.1-29.1-76.8-79.2-76.8-134 0-78.1 60.1-145.3 139.9-156.3 9.6-1.3 16.2-10.1 14.9-19.7C248.9 329.3 241.6 323 232.9 323L232.9 323z" p-id="11001"></path><path d="M796 323c-8.7 0-16 6.4-17.2 15.1-1.3 9.6 5.4 18.4 14.9 19.7 79.8 11 139.9 78.2 139.9 156.3 0 54.8-28.7 104.8-76.8 134 0 0-0.1 0-0.1 0-8.2 5-16.5 9.1-24.7 12.3l-26.7 10.5 21.6 18.9c14.7 12.8 28.1 31.3 38.8 53.3 0 0 0 0 0 0.1 17.2 35.5 26.3 77.6 26.3 122 0 9.7 7.8 17.5 17.5 17.5s17.5-7.8 17.5-17.5c0-49.6-10.3-97-29.7-137.2 0 0 0 0 0-0.1-8.5-17.5-18.3-32.9-29.2-46 2.3-1.3 4.6-2.6 6.9-4 58.7-35.5 93.7-96.8 93.7-163.9 0-95.5-73.1-177.6-170.1-190.9C797.7 323 796.8 323 796 323L796 323z" p-id="11002"></path><path d="M514.4 511.8c-55 0-99.7-38-99.7-84.6 0-9.7 7.8-17.5 17.5-17.5 9.7 0 17.5 7.8 17.5 17.5 0 27.4 29.1 49.7 64.8 49.7s64.8-22.3 64.8-49.7c0-9.7 7.8-17.5 17.5-17.5 9.7 0 17.5 7.8 17.5 17.5C614.2 473.9 569.4 511.8 514.4 511.8z" p-id="11003"></path></svg></i>
                    <span><%=translate('share_nav_groups')%></span>
                </a>
                <a class="menu-item nav-notification" data-point=".letter-not-read" id="letter_msg" href="<%=MASTER_LANG()%>/user/line/letter" target="_blank">
                   <i class="i-ico"><svg t="1663581464014" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="9165" width="23" height="23"><path d="M66.131487 85.330951c-33.705726 0-62.718249 24.788641-65.832829 58.110378l-0.298658 5.973167v642.755389c0 34.260377 27.135242 61.01163 60.243652 63.827552l5.887835 0.255993h51.198571v103.63444c0 34.260377 27.135242 60.968965 60.243651 63.827551l5.887836 0.255993c12.884974 0 25.513954-3.626565 36.350985-10.538372l5.205188-3.669231 207.65287-162.555462a42.665476 42.665476 0 0 0-48.169322-70.270039l-4.394544 3.071915-177.445713 138.876123v-105.298394a42.665476 42.665476 0 0 0-37.673615-42.366817l-4.991861-0.298659H85.330951V170.661902h853.309512v298.658329a42.665476 42.665476 0 0 0 37.673615 42.366818l4.991861 0.298658a42.665476 42.665476 0 0 0 42.366817-37.673615l0.298658-4.991861v-319.905735c0-34.260377-27.135242-60.968965-60.243651-63.827552l-5.887836-0.255993h-891.70844z" p-id="9166" fill="#333333"></path><path d="M255.992854 255.992854m42.665475 0l170.661902 0q42.665476 0 42.665476 42.665475l0 0q0 42.665476-42.665476 42.665476l-170.661902 0q-42.665476 0-42.665475-42.665476l0 0q0-42.665476 42.665475-42.665475Z" p-id="9167" fill="#333333"></path><path d="M255.992854 426.654756m42.665475 0l255.992854 0q42.665476 0 42.665475 42.665475l0 0q0 42.665476-42.665475 42.665476l-255.992854 0q-42.665476 0-42.665475-42.665476l0 0q0-42.665476 42.665475-42.665475Z" p-id="9168" fill="#333333"></path><path d="M959.973201 597.316658h-383.989281a63.998213 63.998213 0 0 0-63.998213 63.998214v213.028719l0.298658 6.186494a63.998213 63.998213 0 0 0 63.699555 57.81172h139.174782l161.702152 81.064403 4.479875 2.005278a42.665476 42.665476 0 0 0 57.299734-40.105547v-42.964134h21.332738a63.998213 63.998213 0 0 0 63.998213-63.998214v-213.028719a63.998213 63.998213 0 0 0-63.998213-63.998214z m-21.332738 85.330951v170.363244h-42.665476l-4.99186 0.298659a42.665476 42.665476 0 0 0-37.673615 42.366817v16.468874l-108.882294-54.611809-4.52254-1.962612a42.665476 42.665476 0 0 0-14.591593-2.559929h-127.996427V682.647609h341.323805z" p-id="9169" fill="#333333"></path></svg></i>
                   <span><%=translate('share_nav_message')%><i class="i-news letter-not-read hide"></i></span>
                   </a>
                <div class="menu-item select">
                    <div class="selected">
                        <i class="i-ico"><svg t="1663581594470" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="17382" width="23" height="23"><path d="M0 0h1024v1024H0z" fill="#FFFFFF" p-id="17383"></path><path d="M638.784 888.576c-0.128 67.2-56.384 121.6-126.784 121.6-69.952 0-126.656-54.208-126.784-121.6h253.568z" fill="#333333" p-id="17384"></path><path d="M206.976 652.608V462.144A306.048 306.048 0 0 1 512 157.12a305.92 305.92 0 0 1 305.024 305.024v390.208h64V462.144c0-203.072-165.952-369.024-369.024-369.024-203.008 0-369.024 165.952-369.024 369.024v190.464h64z" fill="#333434" p-id="17385"></path><path d="M33.984 861.824h956.032v-64H33.984zM441.984 115.84v-32C441.984 45.312 473.472 13.824 512 13.824c38.464 0 70.016 31.488 70.016 70.016v32" fill="#333434" p-id="17386"></path></svg></i>
                        <span><%=translate('share_nav_news')%><i class="i-news message-not-read hide"></i></span>
                        <i><svg t="1663231372360" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2910" width="15" height="15"><path d="M917.284001 297.722752c-5.406127-5.437849-13.06762-8.396227-21.479197-8.396227-9.611915 0-18.953677 3.844561-25.713638 10.543124L511.980046 659.992589 153.873018 299.91672c-6.729262-6.745634-16.072047-10.619872-25.654286-10.619872-8.470929 0-16.131399 2.989077-21.598924 8.457626-12.301164 12.435217-11.32493 33.69031 2.192945 47.312562l376.764969 378.821815c6.758937 6.788613 15.860223 10.723226 25.052582 10.8143l3.425006 0c8.981559-0.301875 17.814738-4.205788 24.423249-10.8143l376.733247-378.852514C928.728658 331.382363 929.690566 310.113967 917.284001 297.722752" p-id="2911"></path></svg></i>
                    </div>
                    <div class="select-option">
                        <a class="option-item nav-notification" data-point=".message-not-read" id="circle_msg"  href="<%=MASTER_LANG()%>/user/line/group?tab=message" target="_blank"><%=translate('share_nav_news_group')%><font></font></a>
                        <a class="option-item nav-notification" data-point=".message-not-read" id="related_msg"  href="<%=MASTER_LANG()%>/user/line/related?tab=message" target="_blank"><%=translate('share_nav_news_tome')%><font></font></a>
                        <a class="option-item nav-notification" data-point=".message-not-read" id="reply_msg"  href="<%=MASTER_LANG()%>/user/line/dynamic?tab=replymy" target="_blank"><%=translate('share_nav_news_received')%><font></font></a>
                        <a class="option-item nav-notification" data-point=".message-not-read" id="system_msg" href="<%=MASTER_LANG()%>/user/line/system/message" target="_blank"><%=translate('share_nav_news_notice')%><font></font></a>
                    </div>
                </div>
                <div class="menu-item select">
                    <div class="selected">
                        <i class="i-ico"><svg t="1663581861529" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="23574" width="23" height="23"><path d="M544.033302 516.000776V96.000564c0-17.672051-14.478655-31.998984-32.150706-31.998984s-32.150706 14.326933-32.150707 31.998984v420.061624c-54.909072 14.251072-95.809105 64.333925-95.809105 123.935554 0 59.691941 40.82056 109.836206 96.090876 124.000579a32.298816 32.298816 0 0 0-0.281771 4.006195v159.99492c0 17.672051 14.478655 31.998984 32.150707 31.998984s32.150706-14.326933 32.150706-31.998984V768.004516a32.280754 32.280754 0 0 0-0.317894-3.941171c55.389526-14.088512 96.397933-64.301413 96.397932-124.058378 0.010837-59.691941-40.809723-109.832593-96.080038-124.004191z m13.221527 169.249989a64.00158 64.00158 0 1 1 18.744945-45.256635 63.578925 63.578925 0 0 1-18.744945 45.260247zM223.678606 196.003711a32.287979 32.287979 0 0 0 0.292607-4.002582V96.000564a31.970084 31.970084 0 1 0-63.940169 0V192.001129a32.371065 32.371065 0 0 0 0.180622 4.060381c-55.270316 14.160761-96.173962 64.301413-96.173961 124.000579s40.910871 109.818143 96.181186 123.996966a32.360228 32.360228 0 0 0-0.184234 3.937558V927.999436a31.970084 31.970084 0 1 0 63.940169 0V448.000226a32.287979 32.287979 0 0 0-0.278158-3.883372c55.385914-14.088512 96.350971-64.301413 96.350971-124.054765S279.071744 210.084998 223.678606 196.003711z m13.575545 169.315013A64.00158 64.00158 0 1 1 255.999097 320.062089a63.578925 63.578925 0 0 1-18.744946 45.256635zM959.99842 320.062089c0-59.775027-41.048144-109.977091-96.45212-124.058378a32.360228 32.360228 0 0 0 0.173397-4.002582V96.000564a31.970084 31.970084 0 1 0-63.940169 0V192.001129a32.291592 32.291592 0 0 0 0.299833 4.060381c-55.270316 14.160761-96.116162 64.301413-96.116163 124.000579s40.82056 109.836206 96.090876 124.000578a32.298816 32.298816 0 0 0-0.281771 3.99897V927.999436a31.970084 31.970084 0 1 0 63.940169 0V448.061637a32.381903 32.381903 0 0 0-0.166172-3.941171c55.407588-14.084899 96.452119-64.286963 96.45212-124.058377z m-82.746526 45.253022a63.997968 63.997968 0 1 1 18.748558-45.253022 63.578925 63.578925 0 0 1-18.748558 45.253022z" fill="#333333" p-id="23575"></path></svg></i>
                        <span><%=translate('share_nav_management')%></span>
                        <i><svg t="1663231372360" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2910" width="15" height="15"><path d="M917.284001 297.722752c-5.406127-5.437849-13.06762-8.396227-21.479197-8.396227-9.611915 0-18.953677 3.844561-25.713638 10.543124L511.980046 659.992589 153.873018 299.91672c-6.729262-6.745634-16.072047-10.619872-25.654286-10.619872-8.470929 0-16.131399 2.989077-21.598924 8.457626-12.301164 12.435217-11.32493 33.69031 2.192945 47.312562l376.764969 378.821815c6.758937 6.788613 15.860223 10.723226 25.052582 10.8143l3.425006 0c8.981559-0.301875 17.814738-4.205788 24.423249-10.8143l376.733247-378.852514C928.728658 331.382363 929.690566 310.113967 917.284001 297.722752" p-id="2911"></path></svg></i>
                    </div>
                    <div class="select-option">
                        <a class="option-item" href="<%=MASTER_LANG()%>/user/line/index" target="_blank"><%=translate('share_nav_management_overview')%></a>
                        <a class="option-item" href="<%=MASTER_LANG()%>/user/line/group" target="_blank"><%=translate('share_nav_management_joined_groups')%></a>
                        <a class="option-item" href="<%=MASTER_LANG()%>/user/line/related" target="_blank"><%=translate('share_nav_management_related')%></a>
                        <a class="option-item" href="<%=MASTER_LANG()%>/user/line/edit" target="_blank"><%=translate('share_nav_management_setup')%></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-right">
        <div class="login-status">
            <%if(wglobals.lang == 'cn'){%>
            <a href="/en">EN</a>
            <%} else{%>
                <a href="/">中文</a>
            <%}%>
            <font>|</font>
            <% if(user.uid){ %>
            <!-- 已登录 -->
                <%if(user.user_id){%>
                    <a href="<%=ROUTE_LANG()%>/line/<%=user.user_id%>">
                        <img class="head" src="<%=IMAGES_PATH%><%=user.avatar %>" alt="">
                        <span class="name"><%=user.name%></span>
                    </a>
                <a class="nav-homepage-open" href="<%=ROUTE_LANG()%>/line/<%=user.user_id%>"><%=translate('share_nav_homepage')%></a>
                <%} else {%>
                    <a href="javascript:void(0);">
                        <img class="head" src="https://static.52wmb.com/images/userphoto/80_<%=user.photo || 'member.jpg'%>" alt="">
                        <span class="name"><%=user.contact%></span>
                    </a>
                <a class="nav-homepage-open" href="<%=MASTER_LANG()%>/user/line/edit" target="_blank"><%=translate('share_nav_homepage_open')%></a>
                <%}%>             


                <a href="javascript:void(0)" onclick="sign_out()"><%=translate('share_nav_logout')%></a>
            <% } else {%>
            <!-- 未登录 -->
            <a href="<%=MASTER_LANG()%>/login" onclick="return referrer_link(this)" target="_blank"><%=translate('share_nav_login')%></a>
            <a href="<%=MASTER_LANG()%>/register" onclick="return referrer_link(this)" target="_blank"><%=translate('share_nav_register')%></a>
            <%}%>
        </div>
    </div>
</nav>



