<!-- 公共头部 -->
<!-- uid为外贸邦账号，user_id为是否开通了bline,未开通为null -->
<% let uid=wglobals.user.uid || "",user_id=wglobals.user.user_id || "" %>
<% let search_key=results.search_key %>
    <div class="line-header">
        <div class="center-box">
            <img class="line-header-logo" src="/images/line_logo.png" alt="邦Line">
            <div class="line-header-input">
                <% let active=(results.nav=="postings"?results.nav:'members')%>
                <div class="select">
                    <span id="search_flag"><%= active=='members'?'外贸人':'供求' %></span><i></i>
                </div>
                <div class="select-box">
                    <span data-id="/members" class="<%= active=='members'?'active':'' %>">外贸人</span>
                    <span data-id="/postings" class="<%= active=='postings'?'active':'' %>">供求帖</span>
                </div>
                
                <font>|</font>
                <input id="search_input" type="search" placeholder="请输入产品关键词，找采供真人，供求信息..." value="<%= search_key %>">
                <a id="search_btn" href="javascript:void(0);" onclick="search_p_or_t()">搜索</a>
            </div>
            <div class="line-header-right">
                <!-- 已登陆 -->
                <% if(uid) {%>
                    <img src="https://static.52wmb.com/images/userphoto/80_<%=wglobals.user.photo || 'member.jpg'%>" alt="">
                    <a><%= wglobals.user.contact.substr(0,5)+'...' %></a>
                    <font>|</font>
                    <a href="<%=MASTER_LANG()%>/user/line/edit">开通主页</a>
                    <font>|</font>
                    <%if(wglobals.lang == 'cn'){%>
                        <a href="/en">English</a>
                    <%} else{%>
                        <a href="/">中文</a>
                    <%}%>
                    <font>|</font>
                    <a href="javascript:viod();" onclick="sign_out()">退出</a>
                <% }else{ %>                    
                    <a href="<%=MASTER_LANG()%>/login"  onclick="return referrer_link(this)"><i class="no-login"><img src="https://static.52wmb.com/images/userphoto/80_member.jpg"></i>登录/免费注册</a>
                    <font>|</font>
                    <a href="<%=MASTER_LANG()%>/register"  onclick="return referrer_link(this)">入驻说明?</a>
                    <font>|</font>
                    <%if(wglobals.lang == 'cn'){%>
                        <a href="/en">EN</a>
                    <%} else{%>
                        <a href="/">中文</a>
                    <%}%>
                <% } %>
            </div>
        </div>
    </div>