<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%=translate('solutions_success')%>-<%=translate('share_text_sitename')%></title>
    <link rel="stylesheet" href="<%= STATIC %>css/default.css?v=<%=VERSION%>">
    <link rel="stylesheet" href="<%= STATIC %>css/solution/solution.css?v=<%=VERSION%>">     
</head>
<body>
    <%- include('../global/head.ejs') %>
    <div class="solution-k">
        <%- include('./solution_leftmeun.ejs') %>
        <div class="solution-content">
            <%if(wglobals.lang == 'cn'){%>
            <div class="solution-title">
                <h1>成功案例</h1>
                <p>期待您们更多的、精彩的故事，欢迎投稿！</p>
            </div>
            <div class="solution-des"> 
                <div class="sucess-user-info">
                    <a name="a"></a>
                    <img src="https://static.52wmb.com/images/userphoto/190_130194497507187500.jpg" alt="Judy"/>
                    <h2>台州XXXX有限公司<font>|</font>Judy</h2> 
                    <span>已使用4年</span>
                </div>                                              
                <p>台州XXXX有限公司成立于2013年，主要做喷头、罐体出口的外贸企业，目前主打日本和欧洲市场。公司于2017年底与外贸邦合作，目前已经是合作的第5年，也算是外贸邦的忠实用户。</p>
                <p>“在公司刚起步的2-3年里，因为企业规模小，我们也没有招聘业务能力很强的外贸业务员，都是些新手，我自己在外贸方面也没有很多的经验，这就导致公司业绩一直上不去，后面甚至一度出现了放弃的念头”。这是当时苏总见到我时说的话。在如此艰难的抉择下，苏总还是选择了接受挑战。</p>
                <p>在企业经营最艰难的时刻，除了马不停蹄跑线下展会，苏总团队还开始尝试使用外贸数据平台来找客户，一是为了开发客户，二是为了解海外采购动向。功夫不负有心人，2018年苏总和她的团队通过外贸邦海关数据平台，将产品销往全球20多个国家，并且很多一开始开发时是很小的客户，但经过长期的积累和跟进，这些客户现在成为了公司的主要业务群体。那一年他们拿下了100多万人民币的业绩。</p>
                <p>时间来到2020年，由于疫情的影响导致全球经济按下了暂停键。5月份苏总和她团队还基本处于无业务状态，即时有少量的订单，但因为物流无法保障，仍难以盈利。那时苏总仿佛回到了刚创业的时候。在这种情况下求新求变成为了她和她的团队那时要做的。后面苏总通过外贸邦海关数据的市场分析了解到：消毒液喷壶的需求量在这几个月里成指数的增长。经过对同行及多个市场的调研后，更坚定了做该产品的信心。</p>
                <p>在寻找到突破点后，苏总立马和几十家供应商进行需求沟通，确定产品的质量和产能。然后通过外贸邦海关数据找采购过这类产品的客户写开发信、打电话。由于疫情的突发，导致市场上相关产品供不应求，客户对这类产品要的都比较急，这也导致客单价比较高，只要说货物准时达到，客户基本就确定下来了。依靠该产品使苏总在第三季度就做了80多万人民币。 公司的营业额较去年同比增长80%。</p>
                <p>在谈到为何会有这么好的使用效果，苏总分享了她的心得：“其实，在很多行业都是一样的，不同的人使用同一款产品，可能效果都不尽相同。我们对于数据的应用，不止是看看而已，而是非常深入地了解和挖掘。”确实，目前，外贸大数据产品在外贸企业中已经是很普及的营销工具了，但是有心的人才会让数据产生最大的价值。</p>
                
                <div class="sucess-user-info">
                    <a name="b"></a>
                    <img src="https://static.52wmb.com/images/userphoto/190_130468373656223995.jpg" alt="冯经理"/>
                    <h2>厦门XXXX彩印<font>|</font>冯经理</h2> 
                    <span>已使用3年</span>
                </div>  
<p>厦门XXX彩印是一家主要做纸制品所有的包装，外贸业务占公司份额的80%，现主要出口的国家有美国、印度、澳洲、欧洲等。</p>
<p>外贸的不易，只要自己亲身尝试过才会了解其中的不易。从最初辛苦地跑展会无果、拜访客户碰壁，到后完美诠释出国拜访客户的“十有八九”能成单，是什么让他们能有这样的高效拿单率呢？从已经做大的印度市场转战重点开发欧洲、澳洲的高端市场，是什么让这家企业做了如此大动作的调整呢？</p>
<p>冯经理介绍说：“公司之所以会做出这样的调整，得益于外贸邦的大数据分析，让我们发现了更加广阔的海外市场。”冯经理最早也是沿用传统的开发路线，以B2B平台和展会为主，也一直在跟同行打价格战，心力交瘁。后来在团队里的同事推荐下用了外贸邦，在经过一段时间的学习下，对于外贸大数据的分析和应用也越来越娴熟。</p>
<p>通过外贸邦海关数据，他们了解到目前市场相对饱和，同时欧洲、澳洲一些高端市场还有可开发空间，经过对数据的仔细分析和对市场的调研，公司最终做出了转战欧洲的决定。</p>
<p>采访中在谈及使用数据的技巧时，冯经理也分享了自己的使用心得。他说“我们一般通过展会搜集目标客户，然后再配合外贸数据对客户进行调研。我们出国拜访之所以十笔有八九单能成，是因为每次拜访之前，我们都会在外贸邦上对目标客户的情况做全面的信息收集，包括对方的采购能力、采购习惯以及其国内供应商，然后有针对性地进行一对一拜访。这样才使得我们的成单量如此之高。“正是由于其敏锐的市场嗅觉、准确的方向感、专注地研究与思考，使得澳门XXX彩印在日益激烈的市场竞争中能够逆势增长、业绩长虹。</p>
<p>当谈及对外贸邦的服务评价时，冯经理的回答让小编深感欣慰。他说：“我现在向很多的外贸朋友，都推荐外贸邦，因为通过平时与客户经理的沟通、直播的交流，我们能感受到外贸邦切实的在为用户服务。这也是我一直向客户朋友推荐的原因”。</p>
<p>冯经理的成功并非偶然。真正的数据应用是要学会看数据、分析数据，用数据发现市场机会，把数据和多种外贸营销方式配合使用，而不是把数据当作找联系方式的手段，那样只会白白浪费数据真正的意义。</p>


<div class="sucess-user-info">
    <a name="c"></a>
    <img src="https://static.52wmb.com/images/userphoto/190_1553862696202207288.jpg" alt="Mila"/>
    <h2>台州XXXX照明有限公司<font>|</font>Mila</h2> 
</div> 
<p>台州XXX照明有限公司是一家做LED灯具的出口企业，主要出口市场是美国。公司于2019年中旬与外贸邦合作，现已合作2年半。</p>
<p>2016年，李紫嫣进入外贸行业，一开始做的是塑料玩具行业，从做单证的外贸小白，直至成为独挡一面的外贸经理，谈到过程中的艰辛，她感慨良多：“外贸业务开发是一项非常复杂的工作，从寻找客户、获取客户、沟通、送样、确定各种细节，最终顺利出货，这期间所有环节都需要主动出击。主动搜集客户信息、海关数据;主动分析客户青睐的市场;主动分析客户的采购习惯等等，然后才能更好地主动地跟客户有效地沟通。只有锲而不舍地联系客户，通过产品技术优势、价格优势、服务优势去吸引客户长久的青睐。”在谈及外贸其中的酸楚，李经理可谓深有体会。</p>
<p>李经理表示：在刚开始开发客户时，也是用的B2B付费平台，每年费用差不多要5万块，还不包含其他的推广费，价格高，但是效果不是很理想，主要是我们非常被动，每次都是等着客户来询盘，有时候一周也等不到一个询盘。当时她一度有放弃外贸行业的打算，一次偶然的机会做外贸的朋友给她推荐了外贸邦，说是现在自主开发客户是一种趋势，不用被动去等客户询盘，费用也只有B2B平台的十分之一。这对当时的她来时拥有巨大的诱惑，就想试试看。经过简单的学习后，她很顺利在第一个月就开发到来第一个订单，那一年里她通过外贸邦获得了40多个客户。</p>
<p>而谈起开发技巧，李经理毫不吝啬的分析了她的心得：“当我们用海关数据开发到客户后，切记千万不要直接给客户发开发信，我们要现对客户做一个简单的调研，了解一下我们的竞争对手有哪些、产品有那些优势、单价是怎样的、有那些服务。等了解完这些，我们再有针对性的发送开发信，这样开发客户的成功率才会比较高“</p>
<p>当问及年轻的李经理是如何在短短三四年时间里能把公司的业务带领得这么好，李经理说：不管外贸形势怎么变化，你都要找到自己企业的核心竞争力，同时找到最适合自己发展的细分市场、销售途径。真正的数据应用是要学会看数据、分析数据，用数据发现市场机会，把数据和多种外贸营销方式配合使用，而不是把数据死用。</p>
            

<div class="sucess-user-info">
    <a name="d"></a>
    <img src="https://static.52wmb.com/images/userphoto/190_1489807671490.jpg" alt="徐先生"/>
    <h2>外贸SOHO的案例分析<font>|</font>徐先生</h2> 
    <span>已使用2年</span>
</div>  
<p>徐先生是一位仅拥有2年外贸SOHO经验的创业者，主要出口一次性餐具，目前主打美国和日本市场，2020年5月成为我们外贸邦的合作客户，截至目前累计已经开发到了4个客户，前段时间更是谈下来了一笔200万的订单。</p>
<p>小编在采访中问到徐先生“外贸SOHO最愁的是什么？”，徐先生说：“当然是客户，由于没有平台，手里的资金又比较有限，像一些展会和付费推广都是能不做尽量不做。刚开始时，为了找到一个客户可以说想尽了办法”。徐先生的这些问题也是很多外贸SOHO和小企业都存在的。</p>
<p>由于客户群体单一，主动出击成为了大多数外贸SOHO和小企业的选择，徐先生说：“我们之前也用过其他公司的贸易数据，然而并没有什么明显的效果，所以对数据的价值一直打问号，后来接触到外贸邦之后，才逐步了解到数据该怎么运用才能发挥最大的效果。我认为外贸邦之所以有很好的效果，是因为外贸邦数据相关配套工具和教学做的特别好。”</p>
<p>说到行业变化，徐先生表示：相比十年前的外贸市场，现如今的外贸市场竞争更加激烈，客户流失，订单转移，市场蓝海变红海，外贸也越来越难做。</p>
<p>而谈起拿下海外大客户的过程，徐先生也毫无保留地分享了自己的心得：“刚开始做SOHO时，由于没了公司的支持。手里也没有大的客户，刚开始的两个月基本全靠老底。期间我也试了很多找客户的手段，如领英、Facebook、黄页等，但都收效甚微。后面就想试试海关数据，机缘巧合下就用了外贸邦，经过简单的学习就开始挖掘客户，搜索客户的联系方式，向潜在客户发邮件，然后……就找到了美国这家大客户。”</p>
<p>“这家企业是也是美国最大的零售商店之一，所以我们很高兴，也做了很充分的准备”谈起这段生意经，徐先生依然很兴奋，经过与对方一段时间的沟通后，客户很顺利的下了订单。</p>
<p>不畏浮云遮望眼，守得云开见月明，在酣战激烈的红海市场中，数据必将给千千万万的外贸企业提供更多价值，而外贸邦也将为外贸企业更精准有效地找到客户而不断努力，为用户带来真正实用的数据平台。</p>

<div class="sucess-user-info">
    <a name="e"></a>
    <img src="https://static.52wmb.com/images/userphoto/190_162684311304162216467.jpeg" alt="徐先生"/>
    <h2>上海XXX橡胶有限公司<font>|</font>辛总</h2> 
    <span>已使用5年</span>
</div>  
<p>上海XXX橡胶有限公司创始于2013年，是一家生产及销售为一体的创新型进出口企业。主要面向的市场包括欧美、东南亚、中东等地区。公司采用自产自销模式，以专业的能力及服务态度出口货物至全球各地，获得良好的口碑。
<p>公司在创立之初，辛总就十分看重营销渠道与营销方式对于客户开发的重要性。因此在创建公司后，辛总的团队也尝试了很多的开发渠道。如：B2B平台、社交媒体、Google、付费推广等。虽然也开发到了一些客户，但总体看投入与产出没达到预期。后来接触到外贸邦，觉得外贸邦的数据产品效果不错，就开始合作了。尽管合作的比较偶然，但后续产品使用中良好的客户开发效果和贴心的售后服务使得双方合作相伴至今。
<p>提及五年以来的合作效果，辛总说：“我们百分之五十以上的客户都是从外贸邦数据平台开发到的。” 而这样的开发成果，既来自外贸邦海量优质数据和精准定位分析，也源于我们对产品多年使用经验而总结出的开发之道。“
<p>在谈及外贸邦功能时，辛总更是毫不吝啬的夸奖。辛总说：“外贸邦数据平台内设置了一套比较完善的产品标签，标签建好后，就可以根据标签内容查找与之匹配的全球境外数据，也可以根据供应商及采购商名称进行搜索。通过标签匹配的海关数据，我们获取到了很多精准的海外采购商信息，这个功能帮我们节约了很多时间成本。”
<p>出国参展或许早已是大多数外贸企业每年的必备行程，可是精心准备的展品和高昂的差旅费却无法保证参展效果始终如愿——这恐怕也已是许多外贸企业的心头痛。但辛总表示他们却悄悄相反。辛总说：“在参加展会前，我们会事先利用贸易国/地区分析了解该国家的市场情况，查看该国家的采购商排名，并根据自己的贸易特征从中寻找合适的客户资源，将其锁定为目标客户。运用外贸邦的社媒SOSO找到客户联系方式后，我们会主动向对方发送展会邀请，并且利用展会前后空闲时间前往拜访他们。” 通过这种预先完成充足的背景调查、主动邀请高匹配目标客户观展，上海XXX模塑有限公司实现了线上平台+线下展会的高度配合，成功将高开销的出国参展转化为高效率的潜在客户会面，让每一次的参展效益最大化。
<p>辛总的成功正是对数据的深入研究与挖掘、对数据执着的分析造就了他的成功，同时也给了同类企业较高的参考价值。
</div>
<%}else{%>
    <div class="solution-title">
        <h1>Success Stories</h1>
        <p>Look forward to more wonderful stories. Welcome to contribute!</p>
    </div>
    <div class="solution-des"> 
        <div class="sucess-user-info">
            <a name="a"></a>
            <img src="https://static.52wmb.com/images/userphoto/190_152550423121727411354.jpg" alt="Manager Su"/>
            <h2>Taizhou XXXX Co.<font>|</font>Manager Su</h2> 
            <span>Used for 4 years</span>
        </div>                                              
        <p>
            Taizhou XXXX Co., Ltd. was established in 2013, who is mainly exporting spray nozzles and cans, currently focusing on the Japanese and European markets. It cooperated with 52WMB 5 years from the end of 2017, and is a loyal user of 52WMB.<br/><br/>
            "In the beginning 2-3 years when the company started, because of the small size of the enterprise, we didn’t have salesmen with strong business ability, and were all novices, and I also did not have a lot of experience in global trade, which led to the company's performance has not been going up, and the idea of giving up even appeared". This is what Mr. Su said when we met. Under such difficult circumstances, Mr Su still chose to accept the challenge.<br/><br/>
            At the most difficult moment, in addition to exhibition, Mr. Su's team also began to try to use 52WMB to find customers and understand the overseas procurement trends. The success was not lost on him, and in 2018, Mr Su and his team sold their products to more than 20 countries around the world through 52WMB, and many of them were very small customers at the beginning, but after long-term accumulation and follow-up, these customers have now become its main business partners. That year they took in over RMB 1 million.<br/><br/>
            In 2020, Mr Su and his team were still largely out of business, and even a small number of orders coming in, but the logistics were not guaranteed and it was still difficult to make a profit. It was as if Mr Su had gone back to the days when he first started his business. In this situation, he and his team were looking for something new to do at that time. Later on, Mr Su learned through the market analysis that the demand for disinfectant spray bottles had increased exponentially in the past few months. After researching her peers and several markets, he became more confident in making the product.<br/><br/>
            After finding the breakthrough, Mr. Su immediately communicated with dozens of suppliers to determine the quality and capacity of the product. Then through the customs data of 52WMB to find customers and then send development letters and phone calls. Due to the sudden outbreak of the epidemic, the demand of related products on the market exceeded the supply, and customers were in a hurry for these products, which also led to a higher price. Relying on this product enabled Mr Su to make more than 800,000 RMB in the third quarter. The company's turnover increased by 80% compared to last year.<br/><br/>
            Talking about why it works so well, Mr Su shared his insights: "In fact, it's the same in many industries, different people using the same product may not have the same effect. Our application of data is not just to look at it, but to understand and dig very deeply." Indeed, at present, data products are already very popular marketing tools for global trade enterprises, but those who use data effectively will let the data produce the greatest value.        
        </p>
        <div class="sucess-user-info">
            <a name="b"></a>
            <img src="https://static.52wmb.com/images/userphoto/190_1503401070378.jpg" alt="Manager Feng"/>
            <h2>Xiamen XXXX Colour Printing<font>|</font>Manager Feng</h2> 
            <span>Used for 3 years</span>
        </div>  
        <p>
            Xiamen XXX color printing is mainly do paper products, global trade business accounted for 80% of the company's share, now its export countries are the United States, India, Australia, Europe, etc..<br/><br/>
            As long as you have tried it yourself, you will understand the difficulty of doing foreign trade. From the initial hard work of exhibitions but fruitlessly, visit customers but rejected, to the perfect interpretation of the "eight out of ten" to visit customers abroad can get a deal, what makes them have such an efficient rate? From the large Indian market to focus on the development of high-end markets in Europe and Australia, what makes this enterprise to make such a big adjustment?<br/><br/>
            Manager Feng introduced, "The company made such an adjustment dues to 52WMB's big data analysis, which allowed us to discover a broader overseas market." Manager Feng also used the traditional customer development method at the earliest with B2B platforms and exhibitions as the main focus, and had also been fighting a price war with his peers and was exhausted. Later on, colleagues in his team recommended the use of 52WMB. After a period of learning, the big data analysis and application is also becoming more and more proficient.<br/><br/>
            After careful analysis of the data and research on the market, they learned that the current market is relatively saturated and there is room for development in high-end markets in Europe and Australia, so the company finally made the decision to switch to Europe.<br/><br/>
            During the interview, Mr Feng also shared his own experience when talking about the skills of using data. He said, "We usually collect target customers through exhibitions, and then research customers with 52WMB’s data. The reason why nine out of ten of our visits abroad are successful is that before each visit, we will do a comprehensive information collection about the target customers on 52WMB, including their purchasing ability, purchasing habits and the domestic suppliers, and then customized one-to-one visits. This is what makes our order intake so high. "The keen market sense, accurate sense of direction, focused research and thinking enabled XXX Colour Printing Macau to grow against the odds and perform well in an increasingly competitive market.<br/><br/>
            When it comes to the evaluation of the services of 52WMB, I am deeply gratified by manager Feng's answer. He said: "I recommended 52WMB to a lot of my friends, because through the usual communication with the account manager, live communication, we can feel that 52WMB  provides practical service for users. This is also the reason why I am recommending it to my customers and friends".<br/><br/>
            Manager Feng's success is no accident. The real application of data is to learn how to check data, analyse data, discover market opportunities, and use data in conjunction with a variety of marketing methods, rather than using data as a means of finding contacts, which would only waste the real value of data.        
        </p>

<div class="sucess-user-info">
<a name="c"></a>
<img src="https://static.52wmb.com/images/userphoto/190_1488783810514.jpg" alt="Li Ziyan"/>
<h2>Taizhou XXXX Lighting Co.<font>|</font>Li Ziyan</h2>
<span>Used for 2 years</span> 
</div> 
<p>
    Taizhou XXX Lighting Co., Ltd. is an exporter doing LED lights, Which main export market is the United States. The company cooperated with 52WMB 2 years from mid-2019.<br/><br/>
    In 2016, Li Ziyan joined in the global trade industry from plastic toy. From a newcomer to a  manager, she touched a lot about the hardship of the process: "Customer development is a very complex work, from finding customers, communication, send samples, determine a variety of details, and finally smooth shipping, all links need to work actively during this period. Take the initiative to collect customer information, analyse the market favoured by customers; analyse the purchasing habits of customers, etc., and then you can communicate with customers effectively. Only perseverance in contacting customers, attract customers long-term favor through product technology, price and service advantages." In talking about foreign trade in which the sour, manager Li can be said to have deep experience.<br/><br/>
    Manager Li said: “At the beginning of the developing customers, I used a B2B platform, which cost almost RMB 50,000 annually, not including other promotion fees. High prices, but no effect. Because we are passive. Each time, we are waiting for customers to inquire, but sometimes no inquiry in a week. At that time, I had the intention of giving up the foreign trade industry. In an occasional meeting, my friend recommended 52WMB, and said developing customers independently is a trend, don’t wait for inquiries anymore, and its cost is only one-tenth of the B2B platform. This was a huge temptation for me at that time, and I decided to try it. After a brief study, I smoothly get the first order in the first month, and in that year I gained more than 40 customers through 52WMB."<br/><br/>
    When it comes to development skills, Manager Li did not mince words in sharing her insights: "When use customs data to develop a customer, never to send a development letter directly. We have to do a simple research on the customer, to understand what our competitors have, what are the advantages of the product, what is the unit price, and what services are available. After understanding these, we can then send customized development letters, thus the success rate of developing customers will be higher."<br/><br/>
    When asked how the young manager Li was able to lead the company's business so well in just three or four years, manager Li said: “No matter how the foreign trade situation changes, you have to find your own enterprise's core competitiveness, while finding the most suitable market segments, sales channels.The real application of data is to learn how to check data, analyse data, discover market opportunities, and use data in conjunction with a variety of marketing methods.    
</p>
<div class="sucess-user-info">
<a name="d"></a>
<img src="https://static.52wmb.com/images/userphoto/190_131037828438848947.jpeg" alt="Mr. Xu"/>
<h2>Case study of a foreign trade SOHO<font>|</font>Mr. Xu</h2> 
<span>Used for 2 years</span>
</div>  
<p>
    Mr. Xu is an entrepreneur with only 2 years of experience in foreign trade SOHO. He mainly exports disposable tableware, currently focusing on the United States and Japan market. In May 2020，he became 52WMB’s customers. So far, he has developed to 4 customers and negotiated orders of 2 million.<br/><br/>
    In the interview, I asked Mr. Xu, "What is the most worrying thing about foreign trade SOHO?" Mr. Xu said: "The customer, because there is no platform source and the funds are relatively limited, so some exhibitions and paid promotions are less done as much as possible. At the beginning, we have tried every possible way to find a customer." Mr. Xu's problems also exist in many foreign trade SOHO and small enterprises.<br/><br/>
    Because our customer base is single, Actively looking for customers has become the choice of most foreign trade SOHOs and small businesses. Mr Xu said: " We have also used trade data from other providers before, but there is no effect, so we doubt the value of the data. But after contacting 52WMB, we gradually learned how to use the data most effectively. I think the reason why 52WMB has a very good effect is because the supporting tools and teaching related to 52WMB data are doing particularly well."<br/><br/>
    When it comes to industry changes, Mr. Xu said: “Compared to the foreign trade market ten years ago, now it is more competitive. Losing customers, shifting orders, turning the blue ocean market into red ocean market, and foreign trade is becoming more and more difficult to do.”<br/><br/>
    Talking about the process of getting a big overseas customer, Mr Xu shared his experience without reservation: "When I first started doing SOHO, I was without the support of my previous company. I didn't have any big clients, so I just relied on my experience in the first two months. I tried many ways to find clients, such as LinkedIn, Facebook, Yellow Pages, etc., but no success. Later on, I planed to try customs data, and by coincidence, I used 52WMB, and after a simple study I started to dig up customers, search for their contact information, send emails to potential customers, and then ...... found this big customer in the United States."<br/><br/>
    "This company is also one of the largest retailer in the United States, so we are excited and well prepared." about this business experience, Mr. Xu is still very excited, after a period of communication with each other, the customer smoothly placed an order.<br/><br/>
    In the competitive red ocean market, data will definitely provide more value to millions of foreign trade enterprises, and 52WMB will also make continuous efforts to help users find customers more accurately and effectively, bringing users a truly practical data platform.    
</p>

<div class="sucess-user-info">
<a name="e"></a>
<img src="https://static.52wmb.com/images/userphoto/190_162684311304162216467.jpeg" alt="Mr. Xin"/>
<h2>Shanghai XXX Rubber Co.<font>|</font>Mr. Xin</h2> 
<span>Used for 5 years</span>
</div>  
<p>
    Shanghai XXX Rubber Co., Ltd. was founded in 2013 and is an innovative import export enterprise integrating production and sales. Their main markets include Europe, America, Southeast Asia, the Middle East and other regions. The company adopts a self-production and self-sales model, and has gained a good reputation for its professional ability and service attitude in exporting goods to all over the world.<br/><br/>
    At the beginning of the company, Mr. Xin attaches great importance to marketing channels and marketing methods, because of their importance to customer development. Therefore, after founding the company, Mr. Xin's team tried many customer development channels, such as B2B platforms, social media, Google, paid promotions, etc. Although developing some customers, the input and output did not meet expectations. Later, we contact 52WMB and felt that 52WMB's data products were effective, so we started to cooperate. Although the cooperation was rather fortuitous, the good customer development effect and attentive after-sales service have made the two sides cooperate with each other until now.<br/><br/>
    Referring to the cooperation effect since five years, Mr. Xin said, "More than 50% of our customers are developed from the platform of 52WMB. Such results come from both the massive amount of quality data and accurate positioning analysis of 52WMB, as well as from the development methods we have drawn from years of experience in using this products.”<br/><br/>
    When talking about the functions of 52WMB, Mr. Xin was even unstinting in his praise. He said:”52WMB set a relatively perfect product tags. Once the tags are built, you can find matching global data based on the content of the tags, and can also search based on the names of suppliers and buyers. Through the customs data matched by the tags, we have obtained a lot of accurate information, and this function has helped us save a lot of time."<br/><br/>
    Going abroad to exhibit have long been a necessary annual itinerary for most foreign trade enterprises, but the elaborate preparation of exhibits and high travel costs can not guarantee the results will always be as desired, which has been a headache for many foreign trade enterprises. But Mr. Xin said they are quietly the opposite, he said, "Before participating the exhibition, we will use the trade country analysis to understand the market situation of that country in advance, check the buyer ranking, and find suitable customer resources according to the trade characteristics, and set them as target customers. After using 52WMB's email hunting tool to find the customer's contact information, we will take the initiative to send them an invitation to the exhibition and use our free time before and after the exhibition to visit them." By completing sufficient background research in advance and proactively inviting high-match target customers to the exhibition, Shanghai XXX Moulding Co., Ltd. has achieved a high level of cooperation between the online platform + offline exhibition, successfully transforming a high-cost overseas exhibition into a highly efficient meeting with potential customers and maximising the benefits of each exhibition.<br/><br/>
    The success of Mr. Xin is the result of his in-depth research， mining of data, and his persistent analysis of data, which also gives high reference value to similar enterprises.
</p>
</div>
<%}%>     
        </div>
        <br class="clear"/>
    </div>
    <%- include('../global/foot.ejs') %>  
    <script src="<%= STATIC %>javascripts/index/solution.js?v=<%=VERSION%>"></script> 
</body>
</html>