<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="<%= STATIC %>css/default.css?v=<%=VERSION%>">
    <link rel="stylesheet" href="<%= STATIC %>css/help_center/help.css?v=<%=VERSION%>">
    <title><%=translate('help_nav_aboutus')%>-<%=translate('share_text_sitename')%></title>
</head>
<body>
<%- include('../global/head.ejs') %>
<div class="help-k">
    <%- include('./child/help_center_leftmeun.ejs') %>
    <div class="help-content">
        <div>
            <img class="help-img-top" src="https://static.52wmb.com/wmb_img/aboutUs.jpg"/>
            <%if(wglobals.lang == 'cn'){%>   
            <p>外贸邦是上海义缘网络科技有限公司旗下的核心外贸数据服务平台。自2010年上线以来，依托贸易数据，我们持续为用户提供优质的外贸交易信息服务，至今已经累计陪伴了60多万用户奋战在外贸路上，外贸邦网致力于成为性价比好，用户体验好的外贸数据服务平台。</p>
            <h2>贸易数据</h2>
            <p>外贸邦网主要提供的是基于31个国家的贸易数据服务。贸易数据本身是一种很好的信息获取渠道，进出口商信息是外贸开发和维护客户重要补充。通过贸易数据，可以直观地了解到不同区域采购商、供应商、交易日期、产品、频率、数量以及价格等等信息。鉴于各国法规政策原因，目前市场上所有的服务商的数据基本上是基于北美、南美、欧洲、亚洲等国家数据。</p>
            <p>在外贸开发客户的过程中，需要花费大量时间查找、筛选以及验证客户。即便如此，找到的可能也不是精准客户。而写有效的开发信还需要对客户背景做进一步调查，难度又上升了一个档次。经历了千辛万苦好不容易达成交易后，维护客户还得操心费力，而痛苦的是经常找不到着手点，还得时时防着被竞争对手挖墙脚。针对此情况，外贸邦为用户提供了贸易数据服务和2000万真实进出口上资料。我们利用大数据分析和研究用户需求，对数以亿计的原始贸易提单数据进行了清洗、分类、合并，从多个场景帮助用户提高开发维护客户的效率。</p>
            <p>外贸邦网主要提供了两大板块的数据服务：公司贸易报告、行业分析报告。再配合辅助功能中的快速筛选公司，搜索提单，采集邮箱并导出相应数据，邦友们可以非常高效的利用贸易数据。不管是开发新客户，还是维护老客户，甚至是研究行业市场动态，外贸邦都是可靠的工具和数据支撑。</p>
            <h2>写在最后</h2>
            <p>由于很多国家海关法规政策禁止对外开放数据，造成贸易数据在体验上有着先天的缺陷，令人无奈！我们始终坚持认真做数据，认真分析和研究数据的使用场景，对原始的数据做核心的清洗和合并处理。我们不对数据进行高端和团队协作的场景包装，只是努力使其成为外贸工作中必备工具和数据支撑。我们的愿景是做性价比和用户体验好的数据服务提供商，为此我们不敢停歇。</p>
            <p><b>外贸邦团队敬上</b></p>
            <%}else{%>
            <p>Great Export Import, founded in 2010, is one of core platforms of Shanghai WMB Network Technology Co., Ltd.. Users can not only find potential target company there, but also share with other users foreign trade experience, cases, knowledge and expand foreign trade contacts. Great Export Import is one of most active foreign trade vertical social platforms.</p>
            <h2>Looking for company in great export import</h2>
            <p>Looking for company is one of core applications of great export import. Through intelligent engine algorithm, great export import calculates, classifies and analyzes hundreds of millions of bill of landing of the customs in nearly five years, thus, concluding trade yellow page information of foreign companies. It greatly reduces users’ time of analyzing customs data, and improves efficiency of developing customers.</p>
            <p>Trade data is not only a tool of identifying potential customers, but great support for analyzing industry market, maintaining customer loyalty, and monitoring competitors.</p>
            <p>Yellow page sector of the company: Basic properties of the company: industry, country, address, contact details; Trade partners and transaction records; Cargo port and transaction records; Data of bill of landing of the company since 2007 Advantage of looking for data of company: Purchaser data comes from import data of five countries: the United States, Britain, South Korea, India, Pakistan and export data of corresponding global suppliers. Great export import keeps upgrading data once a month, so as to synchronize real-time transaction time.</p>
            <h2>Group of great export import</h2>
            <p>There are more than one hundred groups in great export import, which are involved in export exchange, foreign trade SOHO, foreign trade English, logistics, B2B and exhibition, etc. In a group, users can participate in discussing, sharing and consulting latest topics related to foreign trade, and share with other users foreign trade knowledge and experience. Group of great export import is an encyclopedia of foreign trade that is being compiled. In the future, custom group will provide more foreign trade related services according to business need.</p>
            <h2>Users of great export import</h2>
            <p>In great export import, there are more than 1 million global users of foreign trade in a wide range of industries. Among them, some are purchasers, suppliers, logistics, freight forwarders and foreign trade service providers. You can add users you are interested in as your friends to expand foreign trade contact. Or you can also communicate with users online by sending messages to consult as well as make friends. Users in great export import will be your foreign trade partners and colleagues in the future.</p>
            <p>We hope that, through great export import, more users can find more potential customers, expand foreign trade contacts and solve many kinds of incurable diseases. And we are looking forward to participation of users in construction of great export import. You can leave a message if there is any suggestion.</p>
            <%}%>
        </div>
    </div>
    <br class="clear"/>
</div>
<%- include('../global/foot.ejs') %>
<script src="<%= STATIC %>javascripts/index/help_center.js?v=<%=VERSION%>"></script>
</body>
</html>