<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="<%= STATIC %>css/default.css?v=<%=VERSION%>">
    <link rel="stylesheet" href="<%= STATIC %>css/help_center/help.css?v=<%=VERSION%>">
    <title>网站招聘-外贸邦</title>
</head>
<body>
    <%- include('../global/head.ejs') %>
    <div class="help-k">
        <%- include('./child/help_center_leftmeun.ejs') %>
        <div class="help-content">
            <div>
                <h1>网站招聘</h1>
                <p>
                    <b>网站运营专员</b><br />
                    薪资范围：3k-8k/月<br /> 
                    招聘人数：3人<br />
                    学历要求：全日制普通高校大专及以上学历<br />
                    职位描述：<br />
                     1、负责公司旗下“外贸邦(www.52wmb.com)”网站的日常维护和线上推广工作；<br />
                     2、负责提高网站会员注册量，并通过会员激活工作提高会员活跃度及粘度；<br />
                     3、负责提高网站的各项运营指标，提升网站自身价值，并通过定期对数据的分析、总结，提出并制定网站改善或提升策略；
                    任职要求：<br />
                    1、对社区平台，电子商务感兴趣；<br />
                    2、有一点的文案组织及编辑能力；<br />
                    3、对工作充满热情，富有创新精神，执行力强，能承受较大的工作压力；<br />
                    4、大专及以上学历，欢迎在校生投递；</br><br/>
  
                    <b>高级软件工程师</b><br />
                    薪资范围：10k-15k/月<br />
                    招聘人数：1人<br />
                    学历要求：全日制普通高校大专及以上学历<br />
                    职位描述：<br />
                    1.负责编写应用核心模块;<br />
                    2.很强的分析设计能力，能熟练使用面向对象的软件设计方法和工具;<br />
                    3.负责撰写系统设计，并指导初级开发工程师进行模块设计;<br />
                    4.协助项目经理安排与分配初级开发工程师相应的开发任务;<br />
                    5.对初级开发工程师的技术进行指导;<br /><br />

                    <b>前端工程师</b><br />
                    薪资范围：9k-12k/月<br />
                    招聘人数：1人<br />
                    学历要求：全日制普通高校大专及以上学历<br />
                    职位描述：<br />
                    1.计算机、自动化等相关专业；<br />
                    2.熟悉Linux命令行脚本，熟悉Python语言, 熟练使用flask框架开发<br />
                    3.精通CSS、HTML、JS等前端语言；<br />
                    4.有较强的沟通协调能力、学习能力和责任心，代码书写规范，工作思路调理清晰；<br />
                    5.具有良好的团队合作精神、敬业精神、开发效率；<br />
                    6.1年以上（含）软件工程师相关工作经验。<br /><br />
             
                 如果您对以上职位有兴趣，请将简历投放至huxiaoyun#52wmb.com（将#换成@）<br />
                 </p>
            </div>
        </div>
        <br class="clear"/>
    </div>

<%- include('../global/foot.ejs') %>
<script src="<%= STATIC %>javascripts/index/help_center.js?v=<%=VERSION%>"></script> 
</body>
</html>