<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/../css/head.css">
    <title>产品手册-外贸邦</title>
</head>
<body>
<%- include('../global/head.ejs') %>
<%- include('./child/help_center_leftmeun.ejs') %>


<%- include('../global/foot.ejs') %>
<script src="<%= STATIC %>javascripts/index/help_center.js?v=<%=VERSION%>"></script>
</body>
</html>