<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="<%=translate('store_js_keywords')%>" />
    <meta name="description" content="<%=translate('store_js_description')%>" />
    <title><%=translate('store_js_title')%>-<%=translate('share_text_sitename')%></title>
    <link rel="stylesheet" href="<%= STATIC %>css/default.css?v=<%=VERSION%>">
    <link rel="stylesheet" href="<%= STATIC %>css/bangStore/index.css?v=<%=VERSION%>">
</head>
<body>
<%- include('../global/head.ejs') %>
<%var user=wglobals.user%>
<%if(wglobals.lang == 'cn'){%>
<div class="mall-banner">
    <div class="mall-banner-k">
        <div class="mall-banner-l">
            <h1>Jungle Scout亚马逊选品工具</h1>
            <p>实时获取亚马逊竞品的销量、利润，大数据选品稳操胜券！</p>
            <div class="mall-banner-button">
                <% var tips = '提示：钻石会员增值服务，以上2版本有效期12个月',buyer_level=-1 %>
                <%if(user.id==null){%>
                    <%results.add_service.forEach(function (item){%>
                    <a  target="_blank" href="/login" onclick="return referrer_link(this)"><%=item.alias%>：<b><%=item.amount_rmb%></b>元<font>|</font>购买<span>&gt;</span></a>
                    <%})%>
                <%}else{%>
                    <% var buyer_url = verify_real_vip('bd')?'/product?adds=jungle_scout&product=':'/Alipay?v=yd&ra=' %>
                    <%results.add_service.forEach(function (item){%>
                    <%if(item.buyer_level >-1 && item.buyer_level <= item.product_level){%>
                        <%
                            tips = '提示：你已购买"'+ item.name +'"，有效期至 '+ item.expired_time
                            buyer_level=item.buyer_level
                        %>
                    <%}else if(item.product_level  > buyer_level){%>
                    <a target="_blank" href="<%=buyer_url%><%=item.id%>"><%=item.alias%>：<b><%=item.amount_rmb%></b>元/年<font>|</font>购买<span>&gt;</span></a>
                    <%}%>
                    <%})%>
                <%}%>
            </div>
            <div class="mall-banner-tips"><%=tips%></div>
        </div>
        <div class="mall-banner-r js-banner"><img src="https://static.52wmb.com/wmb_img/minisite/js_topic.png"/></div>
        <br class="clear"/>
    </div>
</div>

<div class="mall-vedio-all">
    <div class="mall-c mall-vedio">
        <div class="mall-vedio-title">
            <h2>通过视频看看JS到底是什么？</h2>
            <p>实时获取竞品销量，美国大数据专家团队开发。准确率高达90%！大数据选品+运营亚马逊卖家必备！<br/>一站式服务，助力卖家成功出海！</p>
        </div>
        <div class="mall-vedio-c">
            <video class="editor" controls autoplay width="100%;">
                <source src="http://1254062548.vod2.myqcloud.com/71cf0de4vodgzp1254062548/ac4135915285890803524564369/wFvCMIPHEB4A.mp4" type="video/mp4">
            </video>
        </div>
        <div class="mall-success">
            <div class="use-example">
                <div class="example-item active">
                    <div class="head">
                        <img src="https://www.junglescout.com/wp-content/uploads/2018/10/kevin-thumbnail@2x-100x100.png" alt="">
                    </div>
                    <div class="example-info">
                        <div class="name">Kevin Rizer</div>
                        <div class="translate">首席执行官，创始人</div>
                        <div class="use-time">使用3年</div>
                    </div>
                    <div class="example-des">
                        <div class="example-des-main">
                            Kevin Rizer（首席执行官）
                        </div>
                        <div class="example-des-sub">
                            Jungle Scout亚马逊选品运维工具，是我开始所有产品研究的方式，它为我和我的团队节省了每个月无数的时间。老实说，没有它，我不知道我们做了什么！”
                        </div>
                    </div>
                </div>
                <div class="example-item">
                    <div class="head">
                        <img src="https://www.junglescout.com/wp-content/uploads/2018/10/robert-thumbnail@2x-100x100.png" alt="">
                    </div>
                    <div class="example-info">
                        <div class="name">Robert Kiyosaki</div>
                        <div class="translate">创始人</div>
                        <div class="use-time">使用4年</div>
                    </div>
                    <div class="example-des">
                        <div class="example-des-main">
                            Robert Kiyosaki（创始人）
                        </div>
                        <div class="example-des-sub">
                            “它是目前好的亚马逊选品运维软件。不仅是选品工具，他向用户介绍了如何在亚马逊上获取成功以及告诉您如何使用Jungle Scout打造亚马逊爆款。
                        </div>
                    </div>
                </div>
                <div class="example-item">
                    <div class="head">
                        <img src="https://www.junglescout.cn/wp-content/uploads/2020/05/WechatIMG67.png" alt="">
                    </div>
                    <div class="example-info">
                        <div class="name">Vitor.Fan</div>
                        <div class="translate">亚马逊站长</div>
                        <div class="use-time">使用2年</div>
                    </div>
                    <div class="example-des">
                        <div class="example-des-main">
                            Vitor.Fan（亚马逊站长）
                        </div>
                        <div class="example-des-sub">虽然国内的所有数据很多是开放的，但JS是亚马逊唯一官方的认可数据抓取工具。三年的JS铁粉。JS的数据精准度和稳定性都是值得称赞的，它支撑了我做精细化运营的绝大部分数据需求。</div>
                    </div>
                </div>
                <div class="example-item">
                    <div class="head">
                        <img src="https://static.52wmb.com/images/userphoto/190_155641777493927154037.jpg" alt="">
                    </div>
                    <div class="example-info">
                        <div class="name">Jessie</div>
                        <div class="translate">个人卖家</div>
                        <div class="use-time">使用3年</div>
                    </div>
                    <div class="example-des">
                        <div class="example-des-main">
                            Jessie（个人卖家）
                        </div>
                        <div class="example-des-sub">
                            JS真的做出了一个好产品，很适合我们小卖家，要是早点用上就好了。我用了一周不到的时间，已经发现了一款产品，正在跟供应商商谈。这已经是我做亚马逊卖家一年以来，速度最快的一次了。
                        </div>
                    </div>
                </div>
                <div class="example-item">
                    <div class="head">
                        <img src="https://static.52wmb.com/images/userphoto/190_156023967808528173954.jpg" alt="">
                    </div>
                    <div class="example-info">
                        <div class="name">曾德威</div>
                        <div class="translate">百聚汇商学院</div>
                        <div class="use-time">使用3年</div>
                    </div>
                    <div class="example-des">
                        <div class="example-des-main">
                            曾德威（百聚汇商学院）
                        </div>
                        <div class="example-des-sub">
                            它可以帮我快速挖掘和分析关键词数据，快速找到蓝海市场产品，还可以帮我准确地分析和跟踪竞品销售数据，并且提高我运营亚马逊店铺的工作效率。
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mall-solution">
  <div class="mall-solution-item">
      <div class="mall-solution-img mall-left"><img src="https://static.52wmb.com/wmb_img/minisite/js_banner_1.png"/></div>
      <div class="mall-solution-text mall-right" style="padding-top:40px;">
          <h2><font>1</font>了解亚马逊上有什么卖</h2>
          <p>发现高需求，低竞争的关键字，以在亚马逊上找到具有潜力的产品。我们使用AI驱动的见解帮助您识别趋势并筛选机会，因此您可以放心地制定产品策略。</p>
          <span>全网用户超过20亿+</span>
        </div>
      <br class="clear"/>
  </div>
  <div class="mall-solution-item">
    <div class="mall-solution-img mall-right"><img src="https://static.52wmb.com/wmb_img/minisite/js_banner_2.png" style="margin-right:-15px;"/></div>
    <div class="mall-solution-text mall-left" style="padding-top:30px;">
        <h2><font>2</font>跟踪产品如何随着时间出售</h2>
        <p>保存并监控产品创意，这样您就不会失去任何机会。跟踪一个产品或一组产品，以评估一段时间内的销售情况并发现趋势，意外的高峰和季节性。</p>
        <span>确保采集到的客户邮箱100%可联系、可激活。</span>
      </div>
    <br class="clear"/>
  </div>
  <div class="mall-solution-item">
    <div class="mall-solution-img mall-left"><img src="https://static.52wmb.com/wmb_img/minisite/js_banner_3.png" style="margin-left:-18px;"/></div>
    <div class="mall-solution-text mall-right" style="padding-top:80px;">
        <h2><font>3</font>评估产品潜力</h2>
        <p>使用最全面的产品研究过滤器以及利润计算器来缩小搜索范围，以帮助您比较每个产品机会的价格，收入和亚马逊物流费用。</p>
        <span>全网用户超过20亿+</span>
      </div>
    <br class="clear"/>
   </div>
   <div class="mall-solution-item">
    <div class="mall-solution-img mall-right"><img src="https://static.52wmb.com/wmb_img/minisite/js_banner_4.png"/></div>
    <div class="mall-solution-text mall-left" style="padding-top:50px;">
        <h2><font>4</font>赢得更多评论</h2>
        <p>>通过为您的商家信息赢得更多评论，快速提高您的信誉和产品排名。一键式直接从卖方中心请求所有FBA订单的评论-（也是最简单）的方式来增加您的清单。</p>
        <span>我们可以帮助您...</span>
      </div>
    <br class="clear"/>
  </div>
  <div class="mall-solution-item">
    <div class="mall-solution-img mall-left"><img src="https://static.52wmb.com/wmb_img/minisite/js_banner_5.png" style="margin-left:-18px;"/></div>
    <div class="mall-solution-text mall-right" style="padding-top:40px;">
        <h2><font>5</font>智能管理您的库存</h2>
        <p>我们帮助您自动化库存计划以防止缺货。Jungle Scout的需求预测工具利用数据来预测市场趋势和季节性。我们的AI驱动的库存仪表板建议最佳库存水平，重新订购日期和重新订购数量。</p>
        <span>全网用户超过20亿+</span>
      </div>
    <br class="clear"/>
  </div>
  <div class="mall-solution-item">
    <div class="mall-solution-img mall-right"><img src="https://static.52wmb.com/wmb_img/minisite/js_banner_6.png"/></div>
    <div class="mall-solution-text mall-left" style="padding-top:50px;">
        <h2><font>6</font>评估您的财务状况</h2>
        <p>分析您亚马逊业务的健康状况并实时查看利润。创建损益表，深入了解PPC广告系列分析并跟踪隐藏费用。快速轻松地查看您的财务状况，因此您可以对产品投资充满信心。</p>
        <span>我们可以帮助您...</span>
      </div>
    <br class="clear"/>
  </div>
  <div class="mall-solution-item">
    <div class="mall-solution-img mall-left"><img src="https://static.52wmb.com/wmb_img/minisite/js_banner_7.png" style="margin-left:-18px;"/></div>
    <div class="mall-solution-text mall-right" style="padding-top:80px;">
        <h2><font>7</font>扩大品牌</h2>
        <p>通过新产品创意发展您的亚马逊业务。查看历史销售，价格，搜索量等，以帮助您确定在亚马逊上流行的新的有利可图产品，或寻找补充机会来扩展品牌。</p>
        <span>全网用户超过20亿+</span>
      </div>
    <br class="clear"/>
  </div>
</div>

<div class="mall-bg">
    <div class="mall-v">
        <div class="mall-share-title">
            <h2>版本对比及功能清单</h2>
            <p>功能简单高效易上手，使用社媒搜搜开发外贸客户效率提升不止10倍</p>
        </div>
        <div class="mall-v-table">
            <table>
                <thead>
                    <tr>
                        <th style="width:30%">核心功能清单</th>
                        <th style="width:35%">插件版</th>
                        <th style="width:35%">插件+网页版</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>一键获取竞品销量</td>
                        <td>支持</td>
                        <td>支持</td>
                    </tr>
                    <tr>
                        <td>验证选品思路</td>
                        <td>支持</td>
                        <td>支持</td>
                    </tr>
                    <tr>
                        <td>市场竞争程度分析</td>
                        <td>支持</td>
                        <td>支持</td>
                    </tr>
                    <tr>
                        <td>批量邀评</td>
                        <td>支持</td>
                        <td>支持</td>
                    </tr>
                    <tr>
                        <td>缓存模式</td>
                        <td>支持</td>
                        <td>支持</td>
                    </tr>
                    <tr>
                        <td>选品数据库</td>
                        <td>—</td>
                        <td>支持</td>
                    </tr>
                    <tr>
                        <td>竞品跟踪器</td>
                        <td>—</td>
                        <td>支持</td>
                    </tr>
                    <tr>
                        <td>潜力市场搜索器</td>
                        <td>—</td>
                        <td>支持</td>
                    </tr>
                    <tr>
                        <td>关键词功能</td>
                        <td>—</td>
                        <td>支持</td>
                    </tr>
                    <tr>
                        <td>监控提醒</td>
                        <td>—</td>
                        <td>支持</td>
                    </tr>
                    <tr>
                        <td>新品助推器</td>
                        <td>—</td>
                        <td>支持</td>
                    </tr>
                    <tr>
                        <td>店铺销售分析</td>
                        <td>—</td>
                        <td>支持</td>
                    </tr>
                    <tr>
                        <td>库存管理</td>
                        <td>—</td>
                        <td>支持</td>
                    </tr>
                    <tr>
                        <td>Listing生成器</td>
                        <td>—</td>
                        <td>支持</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="mall-ask">
    <div class="mall-share-title">
        <h2>Jungle Scount选品工具常见问答</h2>
        <p>为您整理了关于该工具用户咨询最多、关注最多的一些问题。</p>
    </div>
    <div id="questions">
        <ul>
            <li class="clearfix">
                <h3><b class="UI-ask"></b>JS的软件支持哪些站点？</h3>
                <div class="foldContent">
                    <p>答：Jungle Scout网页版和JS插件支持9个站点：美国、加拿大、墨西哥、印度、英国、法国、西班牙、意大利、德国。</p>
                </div>
            </li>
            <li class="clearfix">
                <h3><b class="UI-ask"></b>支持几人同时使用？</h3>
                <div class="foldContent">
                    <p>答：JS插件仅支持1人同时使用，就像QQ账户，只能支持1人在线。若需多人同时使用插件，请购买多套插件。Jungle Scout网页版可以支持最多6人同时使用。</p>
                </div>
            </li>
            <li class="clearfix">
                <h3><b class="UI-ask"></b>JS插件如何下载？</h3>
                <div class="foldContent">
                    <p>答：插件如果安装在谷歌Chrome浏览器上，下载安装和初次登录需要“科学上网”，但之后使用就不需要了；详细的下载插件步骤请点开链接。如果您有任何下载安排的问题，还可以联系我们的客服获得帮助。</p>
                </div>
            </li>
            <li class="clearfix">
                <h3><b class="UI-ask"></b>JS插件有没有终身版？Jungle Scout网页版有没有终身版？</h3>
                <div class="foldContent">
                    <p>答：从2019年2月1日起，JS插件再也没有终身版了，现在有按月或按年付费的套餐。Jungle Scout网页版也是按年或按月购买的，没有终身版。</p>
                </div>
            </li>
            <li class="clearfix">
                <h3><b class="UI-ask"></b>新手卖家，选择JS插件还是Jungle Scout网页版？</h3>
                <div class="foldContent">
                    <p>答：无论您是新手卖家，还是经验丰富的大卖，我们都建议您购入插件和网页版的组合套装，这两个工具功能互补，适用于选品的不同阶段。购买套装不仅可以享受更优惠的价格，还使得您的选品和运营决策更有保障。</p>
                </div>
            </li>
            <li class="clearfix">
                <h3><b class="UI-ask"></b>我只需要看销量，买哪个产品？</h3>
                <div class="foldContent">
                    <p>答：如果您只想了解一个ASIN的预估销量，那么JS插件就能满足您的需求。JS插件依据一级类目的排名，根据JS独家算法来预估销量，精准度在行业内领先。</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<%}else{%>
    <div class="mall-banner">
        <div class="mall-banner-k">
            <div class="mall-banner-l">
                <h1>Jungle Scout Product Choosing tool</h1>
                <p>Get real-time sales and prices of Amazon's competing products!</p>

                <div class="mall-banner-button">
                <% var tips = 'Tip: Diamond membership value-added service, above 2 versions valid for 12 months',buyer_level=-1 %>
                <%if(user.id==null){%>
                    <%results.add_service.forEach(function (item){%>
                    <a href="/login" onclick="return referrer_link(this)"><%=item.alias%>：$<b><%=item.amount_usd%></b><font>|</font>Buy<span>&gt;</span></a>
                    <%})%>
                <%}else{%>
                    <% var buyer_url = verify_real_vip('bd')?'/product?adds=jungle_scout&product=':'/Alipay?v=yd&pg=' %>
                    <%results.add_service.forEach(function (item){%>
                    <%if(item.buyer_level >-1 && item.buyer_level <= item.product_level){%>
                        <%
                            tips = 'Tip: You have purchased the "'+ item.name +'",and it is valid until '+ item.expired_time
                            buyer_level=item.buyer_level
                        %>
                    <%}else if(item.product_level  > buyer_level){%>
                    <a href="<%=buyer_url%><%=item.id%>"><%=item.alias%>：$<b><%=item.amount_usd%></b><font>|</font>Buy<span>&gt;</span></a>
                    <%}%>
                    <%})%>
                <%}%>
                </div>
                <div class="mall-banner-tips"><%=tips%></div>

            </div>
            <div class="mall-banner-r js-en-banner"><img src="https://static.52wmb.com/wmb_img/minisite/js_topic.png"/></div>
            <br class="clear"/>
        </div>
    </div>

    <div class="mall-vedio-all">
        <div class="mall-c mall-vedio">
            <div class="mall-vedio-title">
                <h2>See what Jungle Scout is by video?</h2>
                <p>Get real-time sales of competing products, developed by a team of US big data experts. The accuracy rate is as high as 90%! Big data selection + operation. It is a must for Amazon sellers! One-stop service to help sellers successfully go to sea!</p>
            </div>
            <div class="mall-vedio-c">
                <video class="editor" controls autoplay width="100%;">
                    <source src="http://1254062548.vod2.myqcloud.com/71cf0de4vodgzp1254062548/b136a1d75285890803684855707/Lnx3xi6Gw74A.mp4" type="video/mp4">
                </video>
            </div>
            <div class="mall-success">
                <div class="use-example">
                    <div class="example-item active">
                        <div class="head">
                            <img src="https://www.junglescout.com/wp-content/uploads/2018/10/kevin-thumbnail@2x-100x100.png" alt="">
                        </div>
                        <div class="example-info">
                            <div class="name">Kevin Rizer</div>
                            <div class="translate">Founder</div>
                            <div class="use-time">3 years of use</div>
                        </div>
                        <div class="example-des">
                            <div class="example-des-main">Kevin Rizer（Founder）</div>
                            <div class="example-des-sub">Jungle Scout Amazon product selection operation and maintenance tool is the way I start all product research. It saves my team and me countless hours every month.</div>
                        </div>
                    </div>
                    <div class="example-item">
                        <div class="head">
                            <img src="https://www.junglescout.com/wp-content/uploads/2018/10/robert-thumbnail@2x-100x100.png" alt="">
                        </div>
                        <div class="example-info">
                            <div class="name">Robert Kiyosaki</div>
                            <div class="translate">Founder</div>
                            <div class="use-time">4 years of use</div>
                        </div>
                        <div class="example-des">
                            <div class="example-des-main">Robert Kiyosaki（Founder）</div>
                            <div class="example-des-sub">It is currently the best Amazon selection operation and maintenance software. As well as the selection tool, he also shows users how to be successful on amazon.</div>
                        </div>
                    </div>
                    <div class="example-item">
                        <div class="head">
                            <img src="https://www.junglescout.cn/wp-content/uploads/2020/05/WechatIMG67.png" alt="">
                        </div>
                        <div class="example-info">
                            <div class="name">Vitor.Fan</div>
                            <div class="translate">Amazon webmaster</div>
                            <div class="use-time">2 years of use</div>
                        </div>
                        <div class="example-des">
                            <div class="example-des-main">Vitor.Fan（webmaster）</div>
                            <div class="example-des-sub">Although much of the domestic data is open, JS is Amazon's only officially approved data scraping tool. Three years of JS die-hard fan. </div>
                        </div>
                    </div>
                    <div class="example-item">
                        <div class="head">
                            <img src="https://static.52wmb.com/images/userphoto/190_155641777493927154037.jpg" alt="">
                        </div>
                        <div class="example-info">
                            <div class="name">Jessie</div>
                            <div class="translate">Individual sellers</div>
                            <div class="use-time">3 years of use</div>
                        </div>
                        <div class="example-des">
                            <div class="example-des-main">
                                Jessie（Individual sellers）
                            </div>
                            <div class="example-des-sub">
                                JS has really made a good product, which is very suitable for our small sellers, if only used early. I have found a product in less than a week, and I am in talks with the supplier.
                            </div>
                        </div>
                    </div>
                    <div class="example-item">
                        <div class="head">
                            <img src="https://static.52wmb.com/images/userphoto/190_156023967808528173954.jpg" alt="">
                        </div>
                        <div class="example-info">
                            <div class="name">Mr Zeng</div>
                            <div class="translate">Founder</div>
                            <div class="use-time">3 years of use</div>
                        </div>
                        <div class="example-des">
                            <div class="example-des-main">
                                Mr Zeng（Founder）
                            </div>
                            <div class="example-des-sub">
                                It helps me to quickly mine and analyse keyword data, find blue ocean market products quickly, as well as help me to accurately analyse and track competitor sales data.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="mall-solution">
      <div class="mall-solution-item">
          <div class="mall-solution-img mall-left"><img src="https://static.52wmb.com/wmb_img/minisite/js_banner_1.png"/></div>
          <div class="mall-solution-text mall-right" style="padding-top:40px;">
              <h2><font>1</font>Learn what’s selling on Amazon</h2>
              <p>Uncover high-demand, low-competition keywords to find products with maximum profit potential on Amazon. We help you identify trends and filter opportunities using AI-driven insights so you can confidently craft your product strategy.</p>
            </div>
          <br class="clear"/>
      </div>
      <div class="mall-solution-item">
        <div class="mall-solution-img mall-right"><img src="https://static.52wmb.com/wmb_img/minisite/js_banner_2.png" style="margin-right:-15px;"/></div>
        <div class="mall-solution-text mall-left" style="padding-top:30px;">
            <h2><font>2</font>Track how products sell over time</h2>
            <p>Save and monitor product ideas so you never lose out on an opportunity. Track a product or group of products to evaluate sales over time and spot trends, unexpected spikes, and seasonality.</p>
          </div>
        <br class="clear"/>
      </div>
      <div class="mall-solution-item">
        <div class="mall-solution-img mall-left"><img src="https://static.52wmb.com/wmb_img/minisite/js_banner_3.png" style="margin-left:-18px;"/></div>
        <div class="mall-solution-text mall-right" style="padding-top:80px;">
            <h2><font>3</font>Evaluate product potential</h2>
            <p>Narrow your search with the most comprehensive product research filters, as well as a profit calculator to help you compare price, revenue, and FBA fees for each product opportunity.</p>
          </div>
        <br class="clear"/>
       </div>
       <div class="mall-solution-item">
        <div class="mall-solution-img mall-right"><img src="https://static.52wmb.com/wmb_img/minisite/js_banner_4.png"/></div>
        <div class="mall-solution-text mall-left" style="padding-top:50px;">
            <h2><font>4</font>Earn more reviews</h2>
            <p>Quickly boost your credibility and product rankings by earning more reviews for your listings. Request reviews for all your FBA orders directly from Seller Central in one click — the best (and easiest) way to grow your listings.</p>
          </div>
        <br class="clear"/>
      </div>
      <div class="mall-solution-item">
        <div class="mall-solution-img mall-left"><img src="https://static.52wmb.com/wmb_img/minisite/js_banner_5.png" style="margin-left:-18px;"/></div>
        <div class="mall-solution-text mall-right" style="padding-top:40px;">
            <h2><font>5</font>Intelligently manage your inventory</h2>
            <p>We help you automate inventory planning to prevent stockouts. Jungle Scout’s demand forecasting tools harness data to predict market trends and seasonality. Our AI-powered inventory dashboard suggests optimal stocking levels, re-order dates, and re-order quantities.</p>
          </div>
        <br class="clear"/>
      </div>
      <div class="mall-solution-item">
        <div class="mall-solution-img mall-right"><img src="https://static.52wmb.com/wmb_img/minisite/js_banner_6.png"/></div>
        <div class="mall-solution-text mall-left" style="padding-top:50px;">
            <h2><font>6</font>Evaluate your finances<</h2>
            <p>Analyze the health of your Amazon business and see profit in real time. Create profit and loss statements, dive into PPC campaign analysis, and track hidden fees. View your finances quickly and easily, so you can feel confident in your product investment.</p>
          </div>
        <br class="clear"/>
      </div>
      <div class="mall-solution-item">
        <div class="mall-solution-img mall-left"><img src="https://static.52wmb.com/wmb_img/minisite/js_banner_7.png" style="margin-left:-18px;"/></div>
        <div class="mall-solution-text mall-right" style="padding-top:80px;">
            <h2><font>7</font>Expand your brand</h2>
            <p>Grow your Amazon business with new product ideas. View historical sales, price, search volume, and more to help you identify new profitable products that are trending on Amazon or find complementary opportunities to expand your brand.</p>
          </div>
        <br class="clear"/>
      </div>
    </div>

    <div class="mall-bg">
        <div class="mall-v">
            <div class="mall-share-title">
                <h2>Version comparison and feature list</h2>
                <p>Gig data product selectio is a winning ticket!</p>
            </div>
            <div class="mall-v-table">
                <table>
                    <thead>
                        <tr>
                            <th style="width:30%">List of core functions</th>
                            <th style="width:35%">Plug-in</th>
                            <th style="width:35%">Plug-in & Web</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>One-click access to competitor sales</td>
                            <td>Support</td>
                            <td>Support</td>
                        </tr>
                        <tr>
                            <td>Validate selection ideas</td>
                            <td>Support</td>
                            <td>Support</td>
                        </tr>
                        <tr>
                            <td>Analysis of the level of competition in the market</td>
                            <td>Support</td>
                            <td>Support</td>
                        </tr>
                        <tr>
                            <td>Wholesale Invitation to Review</td>
                            <td>Support</td>
                            <td>Support</td>
                        </tr>
                        <tr>
                            <td>Caching mode</td>
                            <td>Support</td>
                            <td>Support</td>
                        </tr>
                        <tr>
                            <td>Selection database</td>
                            <td>—</td>
                            <td>Support</td>
                        </tr>
                        <tr>
                            <td>Competitor Tracker</td>
                            <td>—</td>
                            <td>Support</td>
                        </tr>
                        <tr>
                            <td>Potential Market Finder</td>
                            <td>—</td>
                            <td>Support</td>
                        </tr>
                        <tr>
                            <td>Keyword function</td>
                            <td>—</td>
                            <td>Support</td>
                        </tr>
                        <tr>
                            <td>Monitoring alerts</td>
                            <td>—</td>
                            <td>Support</td>
                        </tr>
                        <tr>
                            <td>New Product Boosters</td>
                            <td>—</td>
                            <td>Support</td>
                        </tr>
                        <tr>
                            <td>Shop Sales Analysis</td>
                            <td>—</td>
                            <td>Support</td>
                        </tr>
                        <tr>
                            <td>Inventory management</td>
                            <td>—</td>
                            <td>Support</td>
                        </tr>
                        <tr>
                            <td>Listing Builder</td>
                            <td>—</td>
                            <td>Support</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="mall-ask">
        <div class="mall-share-title">
            <h2>Amazon Training Courses & Popular Q&A</h2>
            <p>We have compiled for you some of the most frequently asked questions and concerns about the tool from users.</p>
        </div>
        <div id="questions">
            <ul>
                <li class="clearfix">
                    <h3><b class="UI-ask"></b>JWhat sites does JS software support?</h3>
                    <div class="foldContent">
                        <p>Answer: The Jungle Scout web version and JS plugin support 9 sites: the United States, Canada, Mexico, India, the United Kingdom, France, Spain, Italy, and Germany.</p>
                    </div>
                </li>
                <li class="clearfix">
                    <h3><b class="UI-ask"></b>How many people are supported simultaneously?</h3>
                    <div class="foldContent">
                        <p>Answer: JS plugin only supports 1 person to use at the same time, just like QQ account, only 1 person can be online. If multiple people need to use the plug-in at the same time, please purchase multiple sets of plug-ins. Jungle Scout web version can support up to 6 people at the same time.</p>
                    </div>
                </li>
                <li class="clearfix">
                    <h3><b class="UI-ask"></b>How to download JS plugin?</h3>
                    <div class="foldContent">
                        <p>Answer: If the plug-in is installed on Google Chrome browser, downloading and installing and initial login requires "Science Internet", but it is not necessary to use it afterwards; for detailed steps to download the plug-in, please click on the link <a href="https://support.junglescout.com/hc/en-us/articles/360008616254-Installing-Uninstalling-or-Reinstalling-Extension" target="_blank" style="color:#06c;">https://support.junglescout.com/hc/en-us/articles/360008616254-Installing-Uninstalling-or-Reinstalling-Extension</a>. If you have any questions about downloading arrangements, you can also contact our customer service for help.</p>
                    </div>
                </li>
                <li class="clearfix">
                    <h3><b class="UI-ask"></b>Is there a lifetime version of the JS plugin? Is there a lifetime version of Jungle Scout web version?</h3>
                    <div class="foldContent">
                        <p>Answer: From February 1, 2019, there is no longer a lifetime version of the JS plugin. There are now monthly or yearly paid packages. Jungle Scout web version is also purchased on a yearly or monthly basis, there is no lifetime version.</p>
                    </div>
                </li>
                <li class="clearfix">
                    <h3><b class="UI-ask"></b>As for novice seller, choose JS plugin or Jungle Scout web version?</h3>
                    <div class="foldContent">
                        <p>Answer: Whether you are a novice seller or an experienced big seller, we recommend that you purchase a combination of plug-in and web version. These two tools have complementary functions and are suitable for different stages of product selection. Not only can you purchase a package to enjoy a more favorable price, but also make your product selection and operation decisions more secure.</p>
                    </div>
                </li>
                <li class="clearfix">
                    <h3><b class="UI-ask"></b>I only need to look at sales, which product should I buy?<</h3>
                    <div class="foldContent">
                        <p>Answer: If you only want to know the estimated sales volume of an ASIN, then the JS plugin can meet your needs. The JS plug-in is ranked according to the first-level category, and the sales volume is estimated according to the JS exclusive algorithm,the accuracy is leading in the industry.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div><%}%>

<%- include('../global/foot.ejs') %>
<script>
    $(function () {

    $('.example-item').on({
        mouseover: function () {
            $(this).addClass('active').siblings().removeClass('active');
        }
    });

    $('.banner-float').addClass('show');
});


$(function(){
$("li>h3","#questions").bind("click",function(){
    var li=$(this).parent();
    if(li.hasClass("fold")){
        li.removeClass("fold");
        $(this).find("b").removeClass("UI-bubble").addClass("UI-ask");
        //li.find(".foldContent").slideDown();
    }else{
        li.addClass("fold");
        $(this).find("b").removeClass("UI-ask").addClass("UI-bubble");
        //li.find(".foldContent").slideUp();
    }
});

})
</script>
</body>
</html>