<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Benchmark,Email,邮件群发,邮箱" />
    <meta name="description" content="Benchmark Email邮件群发工具，无限量邮件群发！赠送10GB图片存储+1000组邮箱有效性验证，1000收件人邮件直发平台、隐私、个人信息安全有保障。" />
    <title>Benchmark Email邮件群发工具-外贸邦</title>
    <link rel="stylesheet" href="<%= STATIC %>css/default.css?v=<%=VERSION%>">
    <link rel="stylesheet" href="<%= STATIC %>css/bangStore/index.css?v=<%=VERSION%>">
</head>
<body>
<%- include('../global/head.ejs') %>
<% var user=wglobals.user, adds = results.add_service||[], adds_item = adds.length>0?adds[0]:{}; console.log(results, 'results')%>


<div class="mall-banner">
    <div class="mall-banner-k">
        <div class="mall-banner-l">
            <h1>Benchmark Email满客邮件</h1>
            <p>全球覆盖，海外无限量群发。服务出海企业15年，到达率90%!</p>
            <% var tips = '提示：钻石会员增值服务，有效期12个月'%>
            <div class="mall-banner-button">
                   <%if(user.id==null){%>
                    <a href="/login">专享价：<b><%=adds_item.amount_rmb%></b>元/年<font>|</font>立即购买<span>&gt;</span></a>
                    <%}else if(adds_item.buyer_level >-1){%>
                    <% tips = '提示：你已购买"Benchmark邮件群发",有效期至' + adds_item.expired_time%>
                    <a target="_blank" href="https://ui.benchmarkemail.com/cn/login">进入系统<span>&gt;</span></a>
                    <%}else if(verify_real_vip('bd')){%>
                    <a href="/product?product=6&adds=benchmark">专享价：<b><%=adds_item.amount_rmb%></b>元/年<font>|</font>立即购买<span>&gt;</span></a>
                    <%}else{%>
                    <a href="/Alipay?v=yd&pg=6&adds=benchmark">专享价：<b><%=adds_item.amount_rmb%></b>元/年<font>|</font>立即购买<span>&gt;</span></a>
                    <%}%>
            </div>
            <div class="mall-banner-tips"><%=tips%></div>
        </div>
        <div class="mall-banner-r bem-banner"><img src="<%= STATIC %>images/channel_imgs/bem_banner.png"/></div> 
        <br class="clear"/>   
    </div>
</div>


<div class="mall-vedio-all">
    <div class="mall-c mall-vedio">
        <div class="mall-vedio-title">
            <h2>5分钟完成邮件群发，与客户建立贸易关系！</h2>
            <p>通过以下视频，您可以了解到Benchmark是如何群发和营销。</p>
        </div>
        <div class="mall-vedio-c">
            <video class="editor" controls="controls" autoplay="autoplay" width="100%">
                <source src="http://1254062548.vod2.myqcloud.com/71cf0de4vodgzp1254062548/03633d93387702300962078925/4XOn5wJ1BdkA.mp4" type="video/mp4">
            </video>
        </div>
        <div class="mall-success">
            <div class="use-example">
                <div class="example-item active">
                    <div class="head">
                        <img src="https://static.52wmb.com/wmb_new/images/channel_imgs/store_bem_2.png" alt="Carling">
                    </div>
                    <div class="example-info">
                        <div class="name">Ian</div>
                        <div class="translate">销售</div>
                        <div class="use-time">使用3年</div>
                    </div>
                    <div class="example-des">
                        <div class="example-des-main">
                            Ian（销售）
                        </div>
                        <div class="example-des-sub">
                            对于做食品的 B2C 行业外贸公司，能实时追踪到送达率、打开率、点击率、退件率，精准分析客户的喜好，能很大的提高获客能力。
                        </div>
                    </div>
                </div>
                <div class="example-item">
                    <div class="head">
                        <img src="<%= STATIC %>/images/channel_imgs/store_bem_1.png" alt="Brandon Beechler">
                    </div>
                    <div class="example-info">
                        <div class="name">Alice</div>
                        <div class="translate">SOHO</div>
                        <div class="use-time">使用5年</div>
                    </div>
                    <div class="example-des">
                        <div class="example-des-main">
                            Alice（SOHO）
                        </div>
                        <div class="example-des-sub">
                            每逢国外营销节日，如：黑色星期五、圣诞节，就用 Benchmark 满客邮件的模板库发送营销邮件，专业又快速，效果还非常显著，是相当好的邮件营销软件。
                        </div>
                    </div>
                </div>
                <div class="example-item">
                    <div class="head">
                        <img src="<%= STATIC %>/images/channel_imgs/store_bem_3.png" alt="Jerry Rice">
                    </div>
                    <div class="example-info">
                        <div class="name">小李</div>
                        <div class="translate">批发</div>
                        <div class="use-time">使用2年</div>
                    </div>
                    <div class="example-des">
                        <div class="example-des-main">
                            小李（批发）
                        </div>
                        <div class="example-des-sub">整合后客户名单会自动上传至系统分类，无需人工实时跟进操作也减少错误率，Benchmark 满客邮件营销系统稳定而强大，特别的好用。</div>
                    </div>
                </div>
                <div class="example-item">
                    <div class="head">
                        <img src="<%= STATIC %>/images/channel_imgs/store_bem_5.png" alt="Marcy Feldman">
                    </div>
                    <div class="example-info">
                        <div class="name">咏哥</div>
                        <div class="translate">外贸人</div>
                        <div class="use-time">使用3年</div>
                    </div>
                    <div class="example-des">
                        <div class="example-des-main">
                            咏哥（外贸人）
                        </div>
                        <div class="example-des-sub">
                            主动分类高消费客户与普通客户，替企业主动节省营销成本。电子产品的购买门槛比较高，我会再对高消费的客户名单做再营销，转单率也是不断提升。
                        </div>
                    </div>
                </div>
                <div class="example-item">
                    <div class="head">
                        <img src="<%= STATIC %>/images/channel_imgs/store_bem_4.png" alt="Larry Walkemeyer">
                    </div>
                    <div class="example-info">
                        <div class="name">Lynn</div>
                        <div class="translate">亚马逊卖家</div>
                        <div class="use-time">使用9年</div>
                    </div>
                    <div class="example-des">
                        <div class="example-des-main">
                            Lynn（亚马逊卖家）
                        </div>
                        <div class="example-des-sub">
                            用 Benchmark 满客邮件做邮件营销用户体验很好，功能很强大，有个性化邮件设置，还能主动提醒忘记结帐购物物品的客户，做外贸电子商务的很需要 Benchmark 满客邮件。
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </div>
</div>


<div class="mall-solution">
  <div class="mall-solution-item">
      <div class="mall-solution-img mall-left"><img src="<%= STATIC %>images/channel_imgs/bem_sou_1.png" class="bem-pic"/></div>
      <div class="mall-solution-text mall-right" style="padding-top:130px;">
          <h2><font>1</font>提升开发信获客能力，分析报表落实订单</h2>
          <p>绩效数据化呈现：独家邮件追踪技术，邮件发送效果有迹可寻，即发即追踪，完整分析各项指标如开启，点击，退件等数据，了解成功的邮件要素，指引下次发送优化方向。</p>
        </div>
      <br class="clear"/>
  </div>
  <div class="mall-solution-item">
    <div class="mall-solution-img mall-right"><img src="<%= STATIC %>images/channel_imgs/bem_sou_2.png" class="bem-pic"/></div>
    <div class="mall-solution-text mall-left" style="padding-top:130px;">
        <h2><font>2</font>个性化主旨精细化运营，懂客户促转化</h2>
        <p>设定变量个性化发送：根据现有客户的详细资料，定制高度个性化主旨，显示客户名称等，精准发送目标客户群，无形中缩短与客户的距离感，懂邮件内容更懂客户需求。</p>
      </div>
    <br class="clear"/>
  </div>
  <div class="mall-solution-item">
    <div class="mall-solution-img mall-left"><img src="<%= STATIC %>images/channel_imgs/bem_sou_3.png" class="bem-pic"/></div>
    <div class="mall-solution-text mall-right" style="padding-top:110px;">
        <h2><font>3</font>外贸名单轻松分众，精准营销提升转单</h2>
        <p>名单品质再分类区隔：发送前借助专业平台评估名单品质，自动剔除无效 Email，多群组区隔管理不同类型外贸客群，譬如新老客户群组，充分利用数据，转化新客户，唤醒沉睡客户，提升老客户复购率。</p>
      </div>
    <br class="clear"/>
   </div> 
   <div class="mall-solution-item">
    <div class="mall-solution-img mall-right"><img src="<%= STATIC %>images/channel_imgs/bem_sou_4.png" class="bem-pic"/></div>
    <div class="mall-solution-text mall-left" style="padding-top:120px;">
        <h2><font>4</font>万笔名单一键同步，集合价值数据</h2>
        <p>平台串接无压力：整合多家大牌跨境电商平台，API 密钥轻松展开数据互通，统整保留有价值海量数据，即汇即用，省去手动上传下载操作，高效利用数据展开业务分析。</p>
      </div>
    <br class="clear"/>
  </div>
  <div class="mall-solution-item">
    <div class="mall-solution-img mall-left"><img src="<%= STATIC %>images/channel_imgs/bem_sou_5.png" class="bem-pic"/></div>
    <div class="mall-solution-text mall-right" style="padding-top:130px;">
        <h2><font>5</font>免设计背景，庞大的专业邮件模板库</b></h2>
        <p>零基础设计可入门：不会 PS 没关系，省去P图繁琐事，免费各行邮件模板任你挑，一键套用精美版式，简易式编辑器可在线微调图片尺寸效果，制定与品牌风格相符的邮件内容。</p>
      </div>
    <br class="clear"/>
   </div> 
</div>

<div class="mall-bg">
    <div class="mall-v">
        <div class="mall-share-title">
            <h2>Benchmark群发功能亮点</h2>
            <p>功能强大，使用Benchmark邮件群发开发外贸客户效率提升不止10倍!</p>
        </div>
        <div class="bme-gn-list">
            <ul>
                <li class="bme-gn-list-1">
                    <font>AB测试</font><br><i><img src="<%= STATIC %>images/channel_imgs/bem_fun_1.png"/></i>
                </li>
                <li class="bme-gn-list-2">
                    <font>忠实名单分析</font><br><i><img src="<%= STATIC %>images/channel_imgs/bem_fun_2.png"/></i>
                </li>
                <li class="bme-gn-list-3">
                    <font>拖拉式编辑器</font><br><i><img src="<%= STATIC %>images/channel_imgs/bem_fun_3.png"/></i>
                </li>
                <li class="bme-gn-list-4">
                    <font>使用订阅表格</font><br><i><img src="<%= STATIC %>images/channel_imgs/bem_fun_4.png"/></i>
                </li>
                <li class="bme-gn-list-5">
                    <font>清除名单</font><br><i><img src="<%= STATIC %>images/channel_imgs/bem_fun_5.png"/></i>
                </li>
                <li class="bme-gn-list-6">
                    <font>邮件发送管理</font><br><i><img src="<%= STATIC %>images/channel_imgs/bem_fun_6.png"/></i>
                </li>
                <li class="bme-gn-list-7">
                    <font>响应式模板</font><br><i><img src="<%= STATIC %>images/channel_imgs/bem_fun_7.png"/></i>
                </li>
                <li class="bme-gn-list-8">
                    <font>子账户功能</font><br><i><img src="<%= STATIC %>images/channel_imgs/bem_fun_8.png"/></i>
                </li>
                <li class="bme-gn-list-9">
                    <font>安全PIN码</font><br><i><img src="<%= STATIC %>images/channel_imgs/bem_fun_9.png"/></i>
                </li>
                <li class="bme-gn-list-10">
                  <font>营销规划流程图</font><br><i><img src="<%= STATIC %>images/channel_imgs/bem_fun_10.png"/></i>
                </li>
                <br class="clear">
            </ul>
        </div>
    </div>
</div>

<div class="mall-ask">
    <div class="mall-share-title">
        <h2>社媒邮箱采集常见问答</h2>
        <p>为您整理了关于该工具用户咨询最多、关注最多的一些问题。</p>
    </div>
    <div id="questions">
        <ul>
            <li class="clearfix">
                <h3><b class="UI-ask"></b>支持那些付款方式?</h3>
                <div class="foldContent">
                    <p>目前支持支付宝，微信，paypal，以及对公转账。</p>
                </div>
            </li>
            <li class="clearfix">
                <h3><b class="UI-ask"></b>联系人数超过方案规定方案限制怎么办？</h3>
                <div class="foldContent">
                    <p>Benchmark Email满客邮件有多种弹性方案可以选择，若联络人数超出方案人数，您可以升级方案或是洽询官方客服，亲切的客服将协助选择最适合您的邮件群发方案。 </p>
                </div>
            </li>
            <li class="clearfix">
                <h3><b class="UI-ask"></b>购买后帐号多久开通？</h3>
                <div class="foldContent">
                    <p>即刻开通，确认订单信息发送正式账号。</p>
                </div>
            </li>
            <li class="clearfix">
                <h3><b class="UI-ask"></b>BME界面支持那些语言?</h3>
                <div class="foldContent">
                    <p> Benchmark Email 满客邮件支援英语，西班牙语，德语，繁体中文，简体中文，日语，意大利语，葡萄牙语和法语这9 种不同语言。 </p>
                </div>
            </li>
            <li class="clearfix">
                <h3><b class="UI-ask"></b>如何透过触发邮件建立自动化营销？</h3>
                <div class="foldContent">
                    <p>根据指定条件在触发邮件里面建立名单触发；您也可以根据链接点击或开启，建立邮件互动触发机制。当联络人触发以下条件，可向他们发送邮件。</p>
                </div>
            </li>
            <li class="clearfix">
                <h3><b class="UI-ask"></b>什么行业适合?</h3>
                <div class="foldContent">
                    <p>外贸，跨境电商，物流，教育等行业皆可使用 Benchmark Email 满客邮件。</p>
                </div>
            </li>
            <li class="clearfix">
                <h3><b class="UI-ask"></b>平台发送限制、能发送内容?</h3>
                <div class="foldContent">
                    <p>用户需要遵守 7 天规则规定，邮件发送七天后才能从账户删除名单。设定发送的邮件都需要经过 Benchmark 审核程序，对含有危险性或恶意性的邮件内容持有保留发送权利。</p>
                </div>
            </li>
        </ul>
    </div>
</div>

<%- include('../global/foot.ejs') %>
<script>
    $(function () {

    $('.example-item').on({
        mouseover: function () {
            $(this).addClass('active').siblings().removeClass('active');
        }
    });

    $('.banner-float').addClass('show');
});


$(function(){    
$("li>h3","#questions").bind("click",function(){
    var li=$(this).parent();
    if(li.hasClass("fold")){
        li.removeClass("fold");
        $(this).find("b").removeClass("UI-bubble").addClass("UI-ask");
        //li.find(".foldContent").slideDown();
    }else{
        li.addClass("fold");
        $(this).find("b").removeClass("UI-ask").addClass("UI-bubble");
        //li.find(".foldContent").slideUp();
    }
});

})
</script>
</body>
</html>