<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="<%= translate('store_soso_keywords') %>"/>
        <meta name="keywords" content="三剑客,邮箱采集,邮件群发,Benchmark,社媒搜搜"/>        
        <meta name="description" content="通过客户开发三剑客，您可以快速创建精准的潜在目标客户名录及联系方式清单。用它亦可直接与这些目标用户进行互动，建立信任和贸易关系！而且性价比超高..."/>
        <title>外贸三剑客，优秀的客户开发解决方案-外贸邦</title>
        <link rel="stylesheet" href="<%= STATIC %>mobile/css/default/default.css?v=<%=VERSION%>" />
        <link rel="stylesheet" href="<%= STATIC %>mobile/css/social_media/index.css?v=<%=VERSION%>"/>
    </head>
    <body>
        <div class="email-container" data-lang="<%= wglobals.lang %>" data-img="<%= STATIC %>">
            <%- include('../layout/header.ejs'); %>

            <div class="email-ctk">
                <div class="left">
                    <h2>客户开发三剑客</h2>
                    <p>优秀的外贸客户开发整体解决方案<br/>帮您找到真实的成交客户！</p>
                    <span>套装包含黄钻、邮箱采集、BEM</span>
                </div>
            </div>

            <div class="email-ys">
                <h3>视频操作演示</h3>
                <div class="email-sp-box">
                    <video controls autoplay src="http://1254062548.vod2.myqcloud.com/71cf0de4vodgzp1254062548/25885b0a387702301113825099/sSTig7stBTQA.mp4"></video>
                </div>
            </div>

            <div class="email-nr">
                <h3>三剑客套餐内容</h3>
                <div class="nr-box">
                    <h4>
                        <img src="<%= STATIC %>mobile/images/bangStore/bianhao.png" alt="">
                        <span class="index">1</span><span>外贸邦黄钻会员</span>
                        <span class="jiage">单价5,699元起/年</span>
                    </h4>
                    <p>数据会员最高权限，支持公司搜索和高级筛选功能，可无限制查阅公司贸易报告、行业分析报告；支持联系方式、公司名录、贸易数据的导出。</p>
                    <img src="https://static.52wmb.com/wmb_new/images/channel_imgs/sanjianke_data_banner.png" alt="外贸邦黄钻会员">



                    <h4>
                        <img src="<%= STATIC %>mobile/images/bangStore/bianhao.png" alt="">
                        <span class="index">2</span><span>社媒搜搜邮件箱采集</span><span class="jiage">单价999元/年</span></h4>
                    <p>免翻墙！通过公司名称、官网、产品名称自动搜索Google, Facebook等渠道，采集到企业雇员清单列表。包括了雇员的姓名、职位、邮箱以及社交账号。</p>
                    <img src="https://static.52wmb.com/wmb_img/share/soso_mod_2.png"alt="社媒搜搜邮件箱采集">

                    <h4>
                        <img src="<%= STATIC %>mobile/images/bangStore/bianhao.png" alt="">
                        <span class="index">3</span><span>BME邮件群发工具</span>
                        <span class="jiage">单价1,288元起/年</span>
                    </h4>
                    <p>无限量邮件群发！赠送10GB图片存储+1000组邮箱有效性验证。可设置独立的收发件人邮件，1000收件人邮件直发平台、隐私、个人信息安全有保障。</p>
                    <img src="https://static.52wmb.com/wmb_img/share/bme_show_2.png" alt="BME邮件群发工具">
                </div>
            </div>

            <div class="email-bb">
                <h3>版本对比</h3>
                <div class="bb-box">
                    <div class="left">
                        <span class="title">社媒搜搜标准版</span>
                        <ul>
                            <li><span>数据会员</span><span>黄钻会员</span></li>
                            <li><span>邮件营销</span><span>BME邮件<br/>群发工具</span></li>
                            <li><span>邮箱采集</span><span>社媒标准版</span></li>
                            <li><span>数据更新</span><span>周更</span></li>
                            <li><span>售后服务</span><span>专属数据顾问</span></li>
                            <li><span>数据下载</span><span><img src="<%=STATIC %>mobile/images/bangStore/check.png"></span></li>
                        </ul>
                    </div>
                    <div class="right left">
                        <span class="title">社媒搜搜高级版</span>
                        <ul>
                            <li><span>数据会员</span><span>黄钻会员</span></li>
                            <li><span>邮件营销</span><span>BME邮件<br/>群发工具</span></li>
                            <li><span>邮箱采集</span><span>社媒高级版</span></li>
                            <li><span>数据更新</span><span>周更</span></li>
                            <li><span>售后服务</span><span>专属数据顾问</span></li>
                            <li><span>数据下载</span><span><img src="<%=STATIC %>mobile/images/bangStore/check.png"></span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="email-pj">
                <h3>用户评价</h3>
                <div class="pj-list">
                    <div class="swiper" id="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="pj-box">
                                    <div>
                                        <img src="https://static.52wmb.com/images/userphoto/190_130194497507187500.jpg"
                                        alt="">
                                        <div>
                                            <span>Judy</span>
                                            <span>业务经理·使用3年</span>
                                        </div>
                                    </div>
                                    <p>我们对于数据的应用，不止是看看而已，而是非常深入地了解和挖掘。”确实，目前，外贸大数据产品在外贸企业中已经是很普及的营销工具了。</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="pj-box">
                                    <div>
                                        <img src="https://static.52wmb.com/images/userphoto/190_130468373656223995.jpg"
                                        alt="">
                                        <div>
                                            <span>冯经理</span>
                                            <span>外贸经理·使用4年</span>
                                        </div>
                                    </div>
                                    <p>通过平时与客户经理的沟通、直播的交流，我们能感受到外贸邦切实的在为用户服务。这也是我一直向客户朋友推荐的原因。</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="pj-box">
                                    <div>
                                        <img src="https://static.52wmb.com/images/userphoto/190_1553862696202207288.jpg"
                                        alt="">
                                        <div>
                                            <span>Mila</span>
                                            <span>外贸经理·使用2年</span>
                                        </div>
                                    </div>
                                    <p>海关数据;主动分析客户青睐的市场;主动分析客户的采购习惯等等，然后才能更好地主动地跟客户有效地沟通。</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="pj-box">
                                    <div>
                                        <img src="https://static.52wmb.com/images/userphoto/190_1489807671490.jpg"
                                        alt="">
                                        <div>
                                            <span>徐先生</span>
                                            <span>SOHO·使用2年</span>
                                        </div>
                                    </div>
                                    <p>机缘巧合下就用了外贸邦，经过简单的学习就开始挖掘客户，搜索客户的联系方式，向潜在客户发邮件，然后……就找到了美国这家大客户。</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>

            <div class="email-wd">
                <h3>畅听卡常见问答</h3>
                <ul>
                    <li>
                        <span>
                            <span class="qq">Q</span>
                            <span class="text">三剑客套餐和黄钻有什么区别？</span>
                        </span>
                        <img src="<%= STATIC %>mobile/images/loft_HD/jiantou_down.png"
                        alt="">
                    </li>
                    <li><span><span class="qq">Q</span><span
                                class="text">三剑客标准版和高级版之间有什么区别？</span></span><img
                            src="<%= STATIC %>mobile/images/loft_HD/jiantou_down.png"
                        alt=""></li>
                    <li><span><span class="qq">Q</span><span
                                class="text">三剑客套餐和其他套餐比有什么优势？</span></span><img
                            src="<%= STATIC %>mobile/images/loft_HD/jiantou_down.png"
                        alt=""></li>
                    <li><span><span class="qq">Q</span><span
                                class="text">购买套装后，是否有售后的专属客服和业务培训？</span></span><img
                            src="<%= STATIC %>mobile/images/loft_HD/jiantou_down.png"
                        alt=""></li>
                    <li><span><span class="qq">Q</span><span
                                class="text">套装的服务期分别是多少？</span></span><img
                            src="<%= STATIC %>mobile/images/loft_HD/jiantou_down.png"
                        alt=""></li>
                    <li><span><span class="qq">Q</span><span
                                class="text">如何开通外贸三剑客套装</span></span><img
                            src="<%= STATIC %>mobile/images/loft_HD/jiantou_down.png"
                        alt=""></li>
                </ul>
            </div>

            <div class="email-zf">
                <a href="/Alipay?tsm&social_0">标准版<span>￥5,986</span></a>
                <a href="/Alipay?tsm&social_1">高级版<span>￥6,786</span></a>
            </div>
            <%- include('../global/foot_script.ejs'); %>
        </div>

        <script src="<%= STATIC %>mobile/javascripts/default/default.min.js?v=<%=VERSION%>"></script>
        <script src="<%= STATIC %>mobile/javascripts/social_media/index.js?v=<%=VERSION%>"></script>
    </body>
</html>