<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../global/head.ejs') %>
    <title><%=translate('bline_trader_title')%>-<%=translate('share_site_name')%></title>
    <link rel="stylesheet" href="<%= STATIC %>css/index.css?v=<%=VERSION%>">
</head>

<body>
<% console.log(results,"发现人数据") %>
<% let user_list=results.users_list || [],total=results.total,search_key=results.search_key %>
<%- include('../global/navbar.ejs') %>
<div class="line-index-container" data-img="<%=IMAGES_PATH%>">
    <%- include('../global/left_tab.ejs') %>
    <div class="line-index-content line-members-content">
        <h1>
            <div>
                <span>全部结果</span>
                <% if(search_key){ %>
                    <span>
                        <svg t="1680059250360" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2729" width="20" height="20"><path d="M633.69543222 513.62121222l-187.91964261 186.24304734a16.47896769 16.47896769 0 0 0-0.06797007 23.35149777l5.83535703 5.85801374a16.61490785 16.61490785 0 0 0 23.42702007 0.07048748l205.55661903-203.7088399a16.50917662 16.50917662 0 0 0 0.07048747-23.36156739L476.24904106 297.14910222c-6.45212255-6.46219219-16.94972342-6.49491851-23.42702006-0.06797008l-5.87060078 5.82276999a16.49407215 16.49407215 0 0 0-0.07048749 23.36408481l186.81449949 187.35322528z" fill="#C7C7C7" p-id="2730"></path></svg>
                    </span>
                    <span><%= search_key %></span>
                <% } %>
            </div>
            <span>共计<%= total %></span>
        </h1>
        <div class="user-content">
            <div class="h2">
                <div class="cgsx">
                    <span>采供属性</span>
                    <span class="active">全部</span>
                    <span>采购商</span>
                    <span>供应商</span>
                    <span>采供商</span>
                </div>
                <div class="cgsx country-list">
                    <span>所属国家</span>
                    <span class="active">全部</span>
                    <span>中国</span>
                    <span>印度</span>
                    <span>土耳其</span>
                    <span>美国</span>
                    <span>意大利</span>
                    <span class="country-more" id="country_more">更多></span>
                </div>
            </div>
            <!-- 搜索的用户列表 -->
            <div class="members-box-list">
                <% user_list.forEach(function(item,index){ %>
                    <div class="user-content-box members-box">
                        <div class="user-content-box-content members-box-content">
                            <img src="<%=IMAGES_PATH%><%=item.avatar%>" alt="">
                            <span class="avatar"></span>
                            <div>
                                <h2><span class="name"><%=item.name%></span><span>(<%=item.country%>)</span></h2>
                                <div><span>任职：</span><span><%= item.position %></span><font>|</font><span><%= item.verb %>商</span></div>
                                <div><span>职位：</span><span><%= item.position %></span></div>
                                <div><span>供应：</span><span class="gy"><%= item.supply_demand %></span></div>
                            </div>
                            <div>
                                <a href="javascript:void(0);" onclick="Messages()">发私信</a>
                                <a id="follow" href="javascript:void(0);" data-id="" onclick="Concern(this)">
                                    <i>
                                        <svg t="1679981150706" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2738" width="20" height="20"><path d="M288.191617 467.238323l447.616766 0 0 89.523353-447.616766 0 0-89.523353Z" fill="#333333" p-id="2739"></path><path d="M556.761677 288.191617l0 447.616766-89.523353 0 0-447.616766 89.523353 0Z" fill="#333333" p-id="2740"></path></svg>
                                    </i>
                                    关注
                                </a>
                            </div>
                        </div>
                        <div class="members-box-center">
                        <div class="left">
                                <p>但是开发建设打开了反抗势力的付款卡士大夫昆仑山地方吉萨大福晋安东尼附件昂克赛拉的反射的飞机喀什你飞机喀什附件啊可是对方南京埃斯顿妇女节卡上飞机看</p>
                                <span>2023-03-26 发布</span>
                        </div>
                        <img src="" alt="">
                        </div>
                        <div class="members-box-bottom">
                            <div>还有<span>5</span>条供应信息></div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
        <span class="more" id="more">点击加载更多...</span>
    </div>
    <%- include('../global/line_right.ejs') %>
</div>

<script src="<%=STATIC%>js/default.js"></script>
</body>
</html>
