<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>According to your preferences, recommending-52wmb</title>
    <style>
        .foot{border-top:1px #eee solid;line-height:50px;margin-top:10px;font-size:13.4px;color:#999;}
        .foot font{font-weight:100;padding:0 8px;color:#999;}
        .foot span{float:right;}
        .clear{clear:both;}
        .logo {margin-bottom:15px;}
        .logo img{float:left;}
        .logo-font{float:left;font-size:14.4px;color:#888;height:45px;line-height:60px;padding-left:15px;}
        .logo span{float:right;height:45px;line-height:60px;}
        .logo span a{text-decoration:none;color:#333;font-size:14.4px;}
        .logo span font{display:inline-block;color:#ccc;padding:0 6px;font-weight:100;}
        .yx-data{margin-top:40px;}
        .yx-data ul{padding-top:10px;}
        .yx-data li{border-bottom:1px #eee solid;padding-bottom:10px;margin-bottom:10px;}
        .yx-data li a{font-size:15.4px;color:#333;text-decoration:none;}

        ul,li,p,h2,h1,h3{margin:0;}
        ul,li{list-style:none;padding:0;}
        body{margin:0;}
        .yx-k{width:940px;margin:0 auto;margin-top:50px;}
        .yx-info{background: url(https://static.52wmb.com/PriceImgs/banner_image_24515.png) center no-repeat;
            background-size: cover;
            background-image: linear-gradient(-74deg, transparent 90%, rgba(255, 255, 255, 0.23) 20%), linear-gradient(-74deg, transparent 83%, rgba(255, 255, 255, 0.18) 15%), linear-gradient(-74deg, transparent 76%, rgba(255, 255, 255, 0.1) 15%), linear-gradient(to top, #127ab1, #1799e0, #1796db);text-align:center;padding:30px 30px;position:relative;border-radius:5px;}
        .yx-info img{border-radius:100px;width:90px;border:1px #eee solid;padding:3px;background:#fff;}
        .yx-info h1{font-size:23.4px;color:#fff;}
        .yx-info span{display:block;padding-top:6px;font-size:14.4px;color:#fff;opacity:0.65;}
        .yx-info span font{color:#fff;padding:0 6px;font-weight:100;}
        .yx-info p{font-size:15.4px;color:#fff;padding:15px 0;line-height:150%;opacity:0.8;}
        .yx-info a{display:inline-block;height:30px;position:relative;border-radius:100px;padding:6px 35px;background:#fc0;color:#333;font-size:15.4px;text-decoration:none;}
        .yx-info a i{display:inline-block;height:30px;width:30px;float:left;}
        .yx-info a font{display:inline-block;height:30px;line-height:30px;float:left;}

        .yx-c{margin-top:30px;}
        .yx-left{width:680px;float:left;}
        .title{font-size:18.4px;color:#333;font-weight:normal;}
        .title a{float:right;font-size:12.4px;color:#999;font-weight:normal;text-decoration:none;}
        .title a font{font-family:fangsong;padding-left:4px;}
        .yx-company-list{padding:0;margin-top:12px;}
        .yx-company-list a{text-decoration:none;}
        .yx-company-list li{padding:25px 30px;border:1px #eee solid;box-shadow: 0px 0px 12px rgb(0 0 0 / 5%);margin-bottom:15px;position:relative;}
        .yx-company-list li span{display:block;height:30px;width:30px;line-height:30px;position:absolute;left:0;top:0;background:#c0c0c0;color:#fff;font-size:14.4px;text-align:center;}
        .yx-company-list li:hover{box-shadow: 0px 0px 15px rgb(0 0 0 / 12%);}
        .yx-comapny-list li h2:nth-child(1){font-size:22.4px;color:#007FFF;}
        .yx-company-list li p:nth-child(2){font-size:15.4px;color:#333;padding-top:3px;text-transform: capitalize;}
        .yx-company-list li p:nth-child(2) font{font-weight:100;padding:0 8px;color:#999;}
        .yx-company-list li p:nth-child(3){padding:8px 0;height:14px;}
        .yx-company-list li p:nth-child(3) i{display:inline-block;height:14px;width:84px;float:left;}
        .yx-company-list li p:nth-child(3) font{display:inline-block;height:14px;line-height:14px;float:left;margin-left:5px;color:#999;font-size:14.4px;}
        .yx-company-list li p:nth-child(4){font-size:15.4px;color:#333;line-height:150%;padding-top:10px;}
        .yx-company-list li p:nth-child(5){color:#999;font-size:14.4px;padding-top:15px;}
        .bg-ico{background:url(https://static.52wmb.com/wmb_img/2017ico.png?v=20201215-3) no-repeat;}
        .star-s-00{display:inline-block;width:84px;height:14px;background-position:-145px -190px;}
        .star-s-10{display:inline-block;width:84px;height:14px;background-position:-145px -204px;}
        .star-s-15{display:inline-block;width:84px;height:14px;background-position:-145px -218px;}
        .star-s-20{display:inline-block;width:84px;height:14px;background-position:-145px -232px;}
        .star-s-25{display:inline-block;width:84px;height:14px;background-position:-145px -246px;}
        .star-s-30{display:inline-block;width:84px;height:14px;background-position:-145px -260px;}
        .star-s-35{display:inline-block;width:84px;height:14px;background-position:-145px -274px;}
        .star-s-40{display:inline-block;width:84px;height:14px;background-position:-145px -288px;}
        .star-s-45{display:inline-block;width:84px;height:14px;background-position:-145px -302px;}
        .star-s-50{display:inline-block;width:84px;height:14px;background-position:-145px -316px;}
        .link{font-size:23.4px;color:#007FFF;text-transform: capitalize;}
        .tel{display:block;color:#fc0;font-size:14.4px;margin-top:7px;}


        .yx-right{width:225px;float:right;}
        .class-jiqiao-hot li{border-bottom:1px #eee solid;padding:10px 0;}
        .class-jiqiao-hot li a{color:#666;font-size:15.4px;display: block;margin-bottom:2px;text-decoration:none;}
        .class-jiqiao-hot li span{font-size:13.4px;color:#999;display: block;}
        .class-jiqiao-hot li span font{font-size:12px;color:#ccc;padding:0 5px;}
        .class-jiqiao-hot li a font{padding-right:8px;font-weight:bold;color:#999;}
        .class-jiqiao-hot li:nth-child(1) a font{color:#f30;}
        .class-jiqiao-hot li:nth-child(2) a font{color:#f60;}
        .class-jiqiao-hot li:nth-child(3) a font{color:#f90;}
        .class-jiqiao-hot li:last-child{border-bottom:none;}

        .no-data{text-align: center;padding:120px 0;font-size:15.4px;background:#fafafa;line-height:160%;}
        .no-data a{color:#007FFF;text-decoration: none;}
    </style>
</head>

<body>
<div class="yx-k">
    <div class="logo">
        <a href="https://www.52wmb.com/" target="_blank"><img src="https://static.52wmb.com/wmb_img/wmblogo.png"/></a>
        <font class="logo-font">Featured</font>
        <span>
            <a href="/mine" target="_blank">Mine</a><font>/</font>
            <a href="/buyer" target="_blank">Buyer</a><font>/</font>
            <a href="/buyer" target="_blank">Supplier</a><font>/</font>
            <a href="/billsearch" target="_blank">Customs data</a><font>/</font>
            <a href="/new" target="_blank">Topic</a><font>/</font>
            <a href="/user/datacenter/home" target="_blank">Database Center</a><font>/</font>
            <a href="/Alipay" target="_blank">Buy Vip</a>
        </span>
        <br class="clear"/>
    </div>
    <% var _list = results.list||[] %>
    <%  if(_list.length > 0){ %>
    <div class="yx-info">
        <img src="https://static.52wmb.com/images/userphoto/190_<%= results.customer.photo?results.customer.photo: 'member.jpg' %>"/>
        <h1>According to your preferences, recommending</h1>
        <p>Hi <%= results.customer.contact %> ,according to your previous data query preferences, we will regularly push you the companies, feature articles and the latest data updates you are interested in. If you want to check more affiliates, you can contact our customer service to restart the Yellow Diamond trial.</p>
        <a href="https://api.whatsapp.com/send?phone=+8616621075894&text=Hello" target="_blank">
            <i><svg t="1645680216478" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2120" width="25" height="25"><path d="M3.2 1024l73.6-262.4C32 684.8 9.6 598.4 9.6 508.8 6.4 227.2 233.6 0 515.2 0c134.4 0 262.4 54.4 358.4 150.4s147.2 224 147.2 358.4c0 278.4-227.2 508.8-508.8 508.8-86.4 0-169.6-22.4-243.2-60.8L3.2 1024z m281.6-163.2l16 9.6c64 38.4 137.6 57.6 214.4 57.6 233.6 0 422.4-188.8 422.4-422.4 0-112-44.8-217.6-124.8-297.6s-185.6-124.8-297.6-124.8c-233.6 3.2-422.4 192-422.4 425.6 0 80 22.4 156.8 64 224l9.6 16-41.6 156.8 160-44.8z" fill="#333" p-id="2121"></path><path d="M387.2 294.4c-9.6-25.6-19.2-22.4-28.8-22.4h-25.6c-9.6 0-22.4 3.2-35.2 16C288 300.8 256 332.8 256 393.6c0 64 44.8 121.6 51.2 131.2 6.4 9.6 89.6 137.6 217.6 192 28.8 12.8 54.4 22.4 73.6 25.6 28.8 9.6 57.6 9.6 80 6.4 25.6-3.2 73.6-32 86.4-60.8 9.6-28.8 9.6-54.4 6.4-60.8-3.2-6.4-12.8-9.6-25.6-16-12.8-3.2-73.6-35.2-86.4-38.4-12.8-3.2-19.2-6.4-28.8 6.4-9.6 12.8-32 41.6-41.6 51.2-6.4 9.6-16 9.6-28.8 3.2-12.8-6.4-54.4-19.2-102.4-64-38.4-35.2-64-73.6-70.4-86.4-6.4-12.8 0-19.2 6.4-25.6 6.4-6.4 12.8-16 19.2-22.4 6.4-6.4 9.6-12.8 12.8-22.4 3.2-9.6 3.2-16 0-22.4-3.2-6.4-28.8-70.4-38.4-96z" fill="#333" p-id="2122"></path></svg></i>
            <font style="padding-left:5px;">Contact Customer Service →</font>
        </a>
        <font class="tel">or tel：+8602164033826</font>
    </div>
    <div class="yx-c">
        <div class="yx-left">
            <h2 class="title">[<%=  results.date %>]Recommended company</h2>
            <ul class="yx-company-list">
                <%  var types_route = ['buyer', 'supplier'] %>
                <%  _list.forEach(function (item){ %>
                <a href="/<%= types_route[item.company_type] %>/<%= item.company_id %>" target="_blank">
                    <li>
                        <h3 class="link"><%=item.company_name %></h3>
                        <p><%=item.country %> <%=translate('share_company_type_' + item.company_type) %><font>|</font><%=item.bill_count %> transactions</p>
                        <p><i class="bg-ico star-s-<%= UTIL.get_star(item.activity) %>"></i><font>Active value <%= item.activity %> points</font></p>
                        <p>Reasons for recommendation: The company has purchased <%=item.bill_count %> transactions of <%= item.word %> in the past two years, and the latest relevant transaction date is <%=item.last_trade_date %>; the total number of transactions of refrigerator spare parts accounted for 20.15% of the company's total transactions in the past two years.</p>
                        <p>Data has been updated to <%= item.last_trade_date %></p>
                    </li>
                </a>
                <%  }) %>
            </ul>
        </div>
        <div class="yx-right">
            <div class="class-jiqiao-hot">
                <h2 class="title">[Topic] Developing clients<a href="/new" target="_blank">more<font>&gt;</font></a></h2>
                <ul>
                    <li>
                        <a href="https://en.52wmb.com/new/510" target="_blank"><font>1</font>What Should We Do If The Key Person In Charge Cannot Be Contacted By The Foreign Trade Telephone?</a>
                        <span>Development skills<font>●</font>959 times viewed</span>
                    </li>
                    <li>
                        <a href="https://en.52wmb.com/new/501" target="_blank"><font>2</font>How To Use Google To Search For Customer Groups In Specific Foreign Markets?</a>
                        <span>Development skills<font>●</font>1009 times viewed</span>
                    </li>
                    <li>
                        <a href="https://en.52wmb.com/new/500" target="_blank"><font>3</font>What Are The Preparations We Need To Make In Advance For Phone Development Customers?</a>
                        <span>Development skills<font>●</font>344 times viewed</span>
                    </li>
                    <li>
                        <a href="https://en.52wmb.com/new/499" target="_blank"><font>4</font>How To Filter Out B2B Platforms In Google Search?</a>
                        <span>Development skills<font>●</font>457 times viewed</span>
                    </li>
                </ul>
            </div>
            <div class="yx-data">
                <h2 class="title">Data Update<a href="/billsearch" target="_blank">more<font>&gt;</font></a></h2>
                <ul>
                    <li><a href="https://en.52wmb.com/customs-data/united_states" target="_blank">United States has been updated to 2022/02/08</a></li>
                    <li><a href="https://en.52wmb.com/customs-data/kazakhstan" target="_blank">Kazakhstan has been updated to 2022/02/06</a></li>
                    <li><a href="https://en.52wmb.com/customs-data/india" target="_blank">India has been updated to 2022/01/31</a></li>
                    <li><a href="https://en.52wmb.com/customs-data/pakistan" target="_blank">Pakistan has been updated to 2022/01/31</a></li>
                    <li><a href="https://en.52wmb.com/customs-data/panama" target="_blank">Panama has been updated to 2022/02/06</a></li>
                </ul>
            </div>
        </div>
        <br class="clear"/>
    </div>
    <% }else{%>
    <div class="no-data">Sorry, no content of interest was found.<br/><a href="/">go home</a></div>
    <% } %>
    <div class="foot"><a target="_blank" href="https://beian.miit.gov.cn/">沪ICP备16029834号-2</a>©2010-2022 Great Export Import<font>|</font>Room 704, A7 building, No. 700 Yishan Road, Xuhui District, Shanghai</div>
</div>

<script>
    //gqogle tongji
    window.google_analytics_uacct = "UA-19298393-1";
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-19298393-1']);
    _gaq.push(['_addOrganic', 'sogou', 'query']);
    _gaq.push(['_addOrganic', 'live', 'q']);
    _gaq.push(['_addOrganic', 'baidu', 'wd']);
    _gaq.push(['_addOrganic', 'baidu', 'word']);
    _gaq.push(['_addOrganic', 'soso', 'w']);
    _gaq.push(['_addOrganic', 'google', 'q']);
    _gaq.push(['_addOrganic', 'yahoo', 'p']);
    _gaq.push(['_trackPageview']);
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
    })();

    //baidu tongji
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?c131adc40651cdf84b4c7d5fdfbec963";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>
</html>
