<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="no_full_pop" content="yes">
    <meta name="static_url" content="<%= STATIC %>">
    <title><%=translate('register_reset_password')%>-<%=translate('share_text_sitename')%></title>
    <link rel="stylesheet" href="<%= STATIC %>css/default.css?v=<%=VERSION%>">
    <link rel="stylesheet" href="<%= STATIC %>css/user/account.css?v=<%=VERSION%>">
    <%if(wglobals.lang == 'en'){%><link rel="stylesheet" href="<%= STATIC %>css/en.css?v=<%=VERSION%>"><%}%>
</head>
<body>

<div class="user-info-k">
    <div class="web-title">
        <div class="web-logo">
            <a href="/"><img src="https://static.52wmb.com/wmb_img/wmblogo.png"/></a>
        </div>
        <div class="web-text"><%=translate('login_enter_help')%></div>
        <br class="clear"/>
    </div>
    <div class="user-c" style="padding:80px 244px;">
        <div class="user-reset-pwd">
            <% if(wglobals.lang=='cn'){ %>
            <div id="tel_sign" class="bind-box">
                <h2><%=translate('register_reset_password')%><a onclick="tab_bind(this)">邮箱用户 →</a></h2>
                <ul>
                    <li>
                        <fieldset>
                            <i class="ico-phone"></i>
                            <input type="text" name="user_name" placeholder="请输手机号" id="phone">
                        </fieldset>
                    </li>
                    <li>
                        <fieldset>
                            <i class="ico-yzm"></i>
                            <input type="text" name="picture_code" value="" placeholder="请输入右侧图片验证码..." id="phone_picture_code">
                            <img src="" onclick="change_code(this)" id="phone_img_picture_code">
                        </fieldset>
                    </li>
                    <li>
                        <fieldset>
                            <i class="ico-yzm"></i>
                            <input type="text" name="user_name" placeholder="请输入验证码..." id="phone_code">
                            <a href="javascript:void(0)" class="get-code" onclick="get_reset_pwd_phone_code(this)">获取验证码</a>
                        </fieldset>
                    </li>
                    <li>
                        <fieldset>
                            <i class="ico-password"></i>
                            <input type="password" name="user_name" placeholder="设置密码" autocomplete="off" id="phone_pwd">
                            <span class="ico-see"></span>
                        </fieldset>
                    </li>
                    <li>
                        <fieldset>
                            <i class="ico-password"></i>
                            <input type="password" name="user_name" placeholder="<%=translate('register_re_password')%>" autocomplete="off" id="phone_again_pwd">
                            <span class="ico-see"></span>
                        </fieldset>
                    </li>
               </ul>
               <div class="sumbit ext"><a href="javascript:void(0)"  onclick="reset_pwd_by_phone()">重置密码</a></div>
            </div>
            <%}%>

            <div id="email_sign" class="bind-box <%= wglobals.lang == 'en'?'':'display-none'%>">
                <h2><%=translate('register_reset_password')%><%if(wglobals.lang == 'cn'){%><a onclick="tab_bind(this)">手机用户 →</a><%}%></h2>
                <ul >
                    <li>
                        <fieldset>
                            <i class="ico-phone"></i>
                            <input type="text" name="user_name" placeholder="<%=translate('register_account_text')%>" id="email">
                        </fieldset>
                    </li>
                    <li style="display:none;">
                        <fieldset>
                            <i class="ico-yzm"></i>
                            <input type="text" name="picture_code" value="" placeholder="<%=translate('register_pic_code')%>" id="email_picture_code">
                            <img src="" onclick="change_code(this)" id="email_img_picture_code">
                        </fieldset>
                    </li>
                    <li>
                        <fieldset>
                            <i class="ico-yzm"></i>
                            <input type="text" name="user_name" placeholder="<%=translate('register_code_text')%>" id="email_code">
                            <span class="get-code" onclick="get_reset_pwd_email_code(this)"><%=translate('register_code_get_text')%></span>
                        </fieldset>
                    </li>
                    <li>
                        <fieldset>
                            <i class="ico-password"></i>
                            <input type="password" name="user_name" placeholder="<%=translate('register_pw_set')%>" autocomplete="off" id="email_pwd">
                            <span class="ico-see"></span>
                        </fieldset>
                    </li>
                    <li>
                        <fieldset>
                            <i class="ico-password"></i>
                            <input type="password" name="user_name" placeholder="<%=translate('register_re_password')%>" autocomplete="off" id="email_again_pwd">
                            <span class="ico-see"></span>
                        </fieldset>
                    </li>
                </ul>
                <div class="sumbit ext"><a href="javascript:void(0)"  onclick="reset_pwd_by_email()"><%=translate('register_pw_set')%></a></div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" value="" id="domain_name">
<%- include('../global/foot_script.ejs') %>
<script src="<%= STATIC %>javascripts/user/account.js?v=<%=VERSION%>"></script>
<script src="<%= STATIC %>plugins/mask.js"></script>
<script src="https://static.52wmb.com/wmb_js/jquery.qrcode.min.js" type="text/javascript"></script>
<script type="application/javascript">
    <% if(wglobals.lang=='cn'){ %>
    change_code('#phone_img_picture_code')
    <%}%>
    change_code('#email_img_picture_code')
    function get_reset_pwd_phone_code(elem) {

        let phone = $('#phone').val(), phone_pattern = /^1[0-9]{10}$/;
        if (!phone) return $.alert('请输入手机号')
        if (!phone_pattern.test(phone)) return $.alert('手机号格式不正确')

        var picture_code = $('#phone_picture_code').val()
        if (!picture_code && picture_code != '*') {
            return $.alert('请输入图片验证码')
        }
        let $this = $(elem)

        let data = {
            phone: phone,
            picture_code: picture_code
        }
        $.ajax('/async/account/reset-pwd/phone/verify-code', {
            datatype: 'text/json',
            type: 'post',
            data: data,
            success: function (result) {
                if (result.state == 0) {
                    $this.removeAttr('onclick')
                    let sd = 60, timer = window.setInterval(function () {
                        sd--;
                        if (sd == 0) {
                            $this.html('重新获取验证码').attr('onclick', 'get_reset_pwd_phone_code(this)')
                            window.clearInterval(timer)
                        } else {
                            $this.html(sd + '秒后获取验证码')
                        }
                    }, 1000)
                    return
                }
                $.alert(result.message)
            }
        })
    }

    /*手机注册*/
    function reset_pwd_by_phone() {
        let phone = $('#phone').val(), phone_pattern = /^1[0-9]{10}$/;
        if (!phone) return $.alert('请输入手机号')
        if (!phone_pattern.test(phone)) return $.alert('手机号格式不正确')
        let phone_code = $("#phone_code").val()
        if (!phone_code) return $.alert('请输入验证码')
        let pwd = $("#phone_pwd").val()
        if (!pwd) return $.alert('请输入密码')
        if (pwd.length < 6) return $.alert('密码长度应该在 6 - 20位')
        let again_pwd = $("#phone_again_pwd").val()
        if (!again_pwd) return $.alert('请再次输入密码')
        if(again_pwd != pwd) return $.alert('两次密码输入不一致，请重新输入')

        $.ajax('/async/account/reset-pwd/by-phone', {
            datatype: 'text/json',
            type: 'post',
            data: {phone: phone, code: phone_code, password: pwd, again_password: again_pwd},
            success: function (result) {
                if (result.state == 0) {
                    $.alert('重置成，请稍后...')
                    window.location.href = '/login?redirectUrl=' + (redirectUrl !== "" ? redirectUrl : "/");
                    return
                }
                $.alert(result.message)
            }
        })
    }

    /*获取邮箱验证码*/
    function get_reset_pwd_email_code(elem) {
        let email = $('#email').val(), email_pattern = /\w[-\w.+]*@([A-Za-z0-9][-A-Za-z0-9]+\.)+[A-Za-z]{2,14}/;
        if (!email) return $.alert(unity_lang('mail_enter'))
        if (!email_pattern.test(email)) return $.alert(unity_lang('mail_enter_error'))

        var picture_code = $('#email_picture_code').val()
        if(!picture_code && picture_code != '*'){
            return $.alert(unity_lang('mail_enter_pic_code'))
        }
        let $this = $(elem)
        $.ajax('/async/account/reset-pwd/email/verify-code', {
            datatype: 'text/json',
            type: 'post',
            data: {
                email: email,
                picture_code: picture_code
            },
            success: function (result) {
                if(result.state == 0) {
                    $this.removeAttr('onclick')
                    let sd = 60, timer = window.setInterval(function () {
                        sd--;
                        if (sd == 0) {
                            $this.html(unity_lang('mail_enter_pic_code_reget')).attr('onclick', 'get_reset_pwd_email_code(this)')
                            window.clearInterval(timer)
                        } else {
                            $this.html(sd + unity_lang('mail_enter_pic_code_time'))
                        }
                    }, 1000)
                    return
                }
                if(result.state == 2000){
                    $('#email_picture_code').val('')
                    if(!$('#email_img_picture_code').data('show')) {
                        change_code('#email_img_picture_code')
                    }
                    return;
                }
                $.alert(result.message)
            }
        })
    }

    /*邮箱注册*/
    function reset_pwd_by_email() {

        let email = $('#email').val(), email_pattern = /\w[-\w.+]*@([A-Za-z0-9][-A-Za-z0-9]+\.)+[A-Za-z]{2,14}/;
        if (!email) return $.alert(unity_lang('mail_enter'))
        if (!email_pattern.test(email)) return $.alert(unity_lang('mail_enter_error'))
        let email_code = $("#email_code").val()
        if (!email_code) return $.alert(unity_lang('mail_enter_email_code'))
        let pwd = $("#email_pwd").val()
        if (!pwd) return $.alert(unity_lang('mail_enter_password'))
        if (pwd.length < 6) return $.alert(unity_lang('mail_enter_password_tips'))
        let again_pwd = $("#email_again_pwd").val()
        if (!again_pwd) return $.alert(unity_lang('pwd_reset_again'))
        if(again_pwd != pwd) return $.alert(unity_lang('pwd_not_again'))
        $.ajax('/async/account/reset-pwd/by-email', {
            datatype: 'text/json',
            type: 'post',
            data: {email: email, code: email_code, password: pwd, again_password: again_pwd},
            success: function (result) {
                if (result.state == 0) {
                    $.alert(unity_lang('pwd_reset_successfully'))
                    window.location.href = '/login?redirectUrl=' + (redirectUrl !== "" ? redirectUrl : "/");
                    return
                }
                $.alert(result.message)
            }
        })
    }
</script>
</body>
</html>